# 공급량 데이터를 누적하여 저장하는 프로그램

## sql 데이터 추출

아래 내용은 db내에 적재 되어있는 <b>date</b>와 <b>supply</b> 테이블을 활용해서 <b>SQL 쿼리문</b>으로 작성

In [1]:
from urllib.parse import quote
from sqlalchemy import create_engine
import pandas as pd
#변수
user = "kjh" #사용자 이름 (수정)
pwd = "1234" #비밀번호 (수정)
host = "130.1.112.100" #호스트명/IP (수정)
port = 3306 #포트번호 (고정값)
db= "mdw" #사용할 데이터베이스 (필요시 수정)

db_url = f'mysql+pymysql://{user}:{quote(pwd)}@{host}:{port}/{db}' #경로 설정
engine = create_engine(db_url,encoding='utf-8') #연결

In [2]:
sql = """
SELECT s.date_id AS date_id
		, supply_mj AS day_mj
		, SUM(sum(supply_mj)) OVER(PARTITION BY DATE_FORMAT(date_type, '%%y-%%m') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS month_mj
		, SUM(SUM(supply_mj)) OVER(PARTITION BY quarter_6,DATE_FORMAT(date_type, '%%y') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS quarter_6_mj
		, SUM(SUM(supply_mj)) OVER(PARTITION BY quarter_4,DATE_FORMAT(date_type, '%%y') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS quarter_4_mj
		, SUM(SUM(supply_mj)) OVER(PARTITION BY DATE_FORMAT(date_type, '%%y') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS  year_mj
		, supply_m3 AS day_m3
		, SUM(sum(supply_m3)) OVER(PARTITION BY DATE_FORMAT(date_type, '%%y-%%m') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS month_m3
		, SUM(SUM(supply_m3)) OVER(PARTITION BY quarter_6,DATE_FORMAT(date_type, '%%y') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS quarter_6_m3
		, SUM(SUM(supply_m3)) OVER(PARTITION BY quarter_4,DATE_FORMAT(date_type, '%%y') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS quarter_4_m3
		, SUM(SUM(supply_m3)) OVER(PARTITION BY DATE_FORMAT(date_type, '%%y') ORDER BY DATE_FORMAT(date_type, '%%Y-%%m-%%d')) AS  year_m3
		FROM mdw.date AS d
			INNER JOIN mdw.supply AS s on s.date_id = d.date_id
			
	group BY DATE_FORMAT(date_type, '%%Y-%%m-%%d') ;
"""

data = pd.read_sql(sql=sql, con=engine)
data #테이블 확인

,date_id,day_mj,month_mj,quarter_6_mj,quarter_4_mj,year_mj,day_m3,month_m3,quarter_6_m3,quarter_4_m3,year_m3
0,20120101,192900802,1.929008e+08,1.929008e+08,1.929008e+08,1.929008e+08,4430122,4430122.0,4430122.0,4430122.0,4430122.0
1,20120102,223034735,4.159355e+08,4.159355e+08,4.159355e+08,4.159355e+08,5122172,9552294.0,9552294.0,9552294.0,9552294.0
2,20120103,232870228,6.488058e+08,6.488058e+08,6.488058e+08,6.488058e+08,5348052,14900346.0,14900346.0,14900346.0,14900346.0
3,20120104,247241073,8.960468e+08,8.960468e+08,8.960468e+08,8.960468e+08,5678090,20578436.0,20578436.0,20578436.0,20578436.0
4,20120105,246074033,1.142121e+09,1.142121e+09,1.142121e+09,1.142121e+09,5651288,26229724.0,26229724.0,26229724.0,26229724.0
...,...,...,...,...,...,...,...,...,...,...,...
4164,20230527,56533324,2.130315e+09,2.130315e+09,5.046609e+09,2.234244e+10,1330776,50031045.0,50031045.0,117959536.0,519839029.0
4165,20230528,50638595,2.180953e+09,2.180953e+09,5.097248e+09,2.239308e+10,1191302,51222347.0,51222347.0,119150838.0,521030331.0
4166,20230529,62642629,2.243596e+09,2.243596e+09,5.159890e+09,2.245573e+10,1474264,52696611.0,52696611.0,120625102.0,522504595.0
4167,20230530,74706287,2.318302e+09,2.318302e+09,5.234597e+09,2.253043e+10,1758200,54454811.0,54454811.0,122383302.0,524262795.0
4168,20230531,77286729,2.395589e+09,2.395589e+09,5.311883e+09,2.260772e+10,1816122,56270933.0,56270933.0,124199424.0,526078917.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4169 entries, 0 to 4168
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_id       4169 non-null   object
 1   day_mj        4169 non-null   int64
 2   month_mj      4169 non-null   float64
 3   quarter_6_mj  4169 non-null   float64
 4   quarter_4_mj  4169 non-null   float64
 5   year_mj       4169 non-null   float64
 6   day_m3        4169 non-null   int64
 7   month_m3      4169 non-null   float64
 8   quarter_6_m3  4169 non-null   float64
 9   quarter_4_m3  4169 non-null   float64
 10  year_m3       4169 non-null   float64
dtypes: float64(8), int64(2), object(1)
memory usage: 358.4+ KB

In [4]:
data.columns

Index(['date_id', 'day_mj', 'month_mj', 'quarter_6_mj', 'quarter_4_mj',
       'year_mj', 'day_m3', 'month_m3', 'quarter_6_m3', 'quarter_4_m3',
       'year_m3'],
      dtype='object')

In [5]:
data

,date_id,day_mj,month_mj,quarter_6_mj,quarter_4_mj,year_mj,day_m3,month_m3,quarter_6_m3,quarter_4_m3,year_m3
0,20120101,192900802,1.929008e+08,1.929008e+08,1.929008e+08,1.929008e+08,4430122,4430122.0,4430122.0,4430122.0,4430122.0
1,20120102,223034735,4.159355e+08,4.159355e+08,4.159355e+08,4.159355e+08,5122172,9552294.0,9552294.0,9552294.0,9552294.0
2,20120103,232870228,6.488058e+08,6.488058e+08,6.488058e+08,6.488058e+08,5348052,14900346.0,14900346.0,14900346.0,14900346.0
3,20120104,247241073,8.960468e+08,8.960468e+08,8.960468e+08,8.960468e+08,5678090,20578436.0,20578436.0,20578436.0,20578436.0
4,20120105,246074033,1.142121e+09,1.142121e+09,1.142121e+09,1.142121e+09,5651288,26229724.0,26229724.0,26229724.0,26229724.0
...,...,...,...,...,...,...,...,...,...,...,...
4164,20230527,56533324,2.130315e+09,2.130315e+09,5.046609e+09,2.234244e+10,1330776,50031045.0,50031045.0,117959536.0,519839029.0
4165,20230528,50638595,2.180953e+09,2.180953e+09,5.097248e+09,2.239308e+10,1191302,51222347.0,51222347.0,119150838.0,521030331.0
4166,20230529,62642629,2.243596e+09,2.243596e+09,5.159890e+09,2.245573e+10,1474264,52696611.0,52696611.0,120625102.0,522504595.0
4167,20230530,74706287,2.318302e+09,2.318302e+09,5.234597e+09,2.253043e+10,1758200,54454811.0,54454811.0,122383302.0,524262795.0
4168,20230531,77286729,2.395589e+09,2.395589e+09,5.311883e+09,2.260772e+10,1816122,56270933.0,56270933.0,124199424.0,526078917.0

## DB 내 테이블 적재

In [6]:
#필요 라이브러리 설치
import pymysql
import csv
from urllib.parse import quote
from sqlalchemy import create_engine
import sqlalchemy

In [7]:
pymysql.install_as_MySQLdb()

#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding='utf-8')
conn = engine.connect()

#변수 타입 설정
dtypesql_date = {'date_id':sqlalchemy.types.CHAR(8),  #고정
                'day_mj':sqlalchemy.types.INT(),
                'month_mj':sqlalchemy.types.BIGINT(), 
                'quarter_6_mj':sqlalchemy.types.BIGINT(),
                'quarter_4_mj':sqlalchemy.types.BIGINT(),
                'year_mj':sqlalchemy.types.BIGINT(),
                'day_m3':sqlalchemy.types.INT(),
                'month_m3':sqlalchemy.types.INT(),
                'quarter_6_m3':sqlalchemy.types.INT(),
                'quarter_4_m3':sqlalchemy.types.INT(),
                'year_m3':sqlalchemy.types.INT()

            }
#삽입
data.to_sql(name='supply_cumsum', con=engine, if_exists='replace', index=False,dtype=dtypesql_date) #Replace를 통해 해당데이터를 적재

4169

In [8]:
conn.close() #콘솔 종료