## 기업 개황(Overview): 여러 회사
+ 작성: 임경호
+ 금융감독원 OPEN DART https://opendart.fss.or.kr/

In [1]:
import requests
    
url = 'https://opendart.fss.or.kr/api/company.json'
api_key = 'f2e08d4ed3de0ba3d5cbf59c04c223e02b1751a2'

corp_codes = \
['01208885',
 '00787376',
 '00123967',
 '00128555',
 '00130684',
 '00152011',
 '00145862']

corp_list = []

for corp_code in corp_codes:
    params = {
        'corp_code': corp_code,
        'crtfc_key': api_key,
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:     # URL GET '200 정상'
        corp_list.append(response.json())
    else:
        print("URL GET Error", corp_code)

In [2]:
len(corp_list)

7

In [3]:
corp_list

[{'status': '000',
  'message': '정상',
  'corp_code': '01208885',
  'corp_name': '(주)경동도시가스',
  'corp_name_eng': 'KYUNGDONG CITY GAS CO.,LTD',
  'stock_name': '경동도시가스',
  'stock_code': '267290',
  'ceo_nm': '송재호, 나윤호',
  'corp_cls': 'Y',
  'jurir_no': '2301110274751',
  'bizr_no': '1438132491',
  'adres': '울산광역시 북구 염포로 260-10(진장동) 주식회사 경동도시가스',
  'hm_url': 'www.kdgas.co.kr',
  'ir_url': '',
  'phn_no': '052-219-5300',
  'fax_no': '052-287-4189',
  'induty_code': '35200',
  'est_dt': '20170401',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00787376',
  'corp_name': '대성에너지(주)',
  'corp_name_eng': 'DAESUNG ENERGY CO.,LTD',
  'stock_name': '대성에너지',
  'stock_code': '117580',
  'ceo_nm': '대표이사 김영훈 대표이사 윤홍식',
  'corp_cls': 'Y',
  'jurir_no': '1701110387416',
  'bizr_no': '5048183652',
  'adres': '대구광역시 중구 명덕로 85 (남산동)',
  'hm_url': 'www.daesungenergy.com',
  'ir_url': '',
  'phn_no': '053-606-1000',
  'fax_no': '053)606-1004',
  'induty_code': '35200',
  'est_dt': '20091001',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00123967',
  'corp_name': '(주)부산도시가스',
  'corp_name_eng': 'BUSAN CITY GAS CO.,LTD',
  'stock_name': '부산도시가스',
  'stock_code': '015350',
  'ceo_nm': '구태고',
  'corp_cls': 'E',
  'jurir_no': '1801110039495',
  'bizr_no': '6178101562',
  'adres': '부산광역시 수영구  황령대로 513',
  'hm_url': 'www.busangas.co.kr',
  'ir_url': '',
  'phn_no': '051-607-1178',
  'fax_no': '051)623-9870',
  'induty_code': '35200',
  'est_dt': '19810304',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00128555',
  'corp_name': '삼천리(주)',
  'corp_name_eng': 'SAMCHULLY CO.,LTD',
  'stock_name': '삼천리',
  'stock_code': '004690',
  'ceo_nm': '이찬의, 유재권',
  'corp_cls': 'Y',
  'jurir_no': '1101110005929',
  'bizr_no': '1168100755',
  'adres': '서울특별시 영등포구  국제금융로6길 42 (여의도동, 삼천리빌딩)',
  'hm_url': 'www.samchully.co.kr',
  'ir_url': '',
  'phn_no': '02-368-3300',
  'fax_no': '02-368-5042',
  'induty_code': '35200',
  'est_dt': '19660707',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00130684',
  'corp_name': '서울도시가스(주)',
  'corp_name_eng': 'SEOUL CITY GAS CO.,LTD',
  'stock_name': '서울도시가스',
  'stock_code': '017390',
  'ceo_nm': '공동대표이사 박근원 공동대표이사 김진철',
  'corp_cls': 'Y',
  'jurir_no': '1101110360399',
  'bizr_no': '1098131605',
  'adres': '서울특별시 강서구 공항대로 607 (염창동)',
  'hm_url': 'www.seoulgas.co.kr',
  'ir_url': '',
  'phn_no': '02-810-8000',
  'fax_no': '3660-8077',
  'induty_code': '35200',
  'est_dt': '19831128',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00152011',
  'corp_name': '씨엔씨티에너지주식회사',
  'corp_name_eng': 'CNCITY energy CO.,LTD',
  'stock_name': '씨엔씨티에너지',
  'stock_code': '',
  'ceo_nm': '황인규,양대우',
  'corp_cls': 'E',
  'jurir_no': '1601110007595',
  'bizr_no': '3058107023',
  'adres': '대전광역시 중구 유등천동로 762 (중촌동)',
  'hm_url': 'www.cncityenergy.com',
  'ir_url': '',
  'phn_no': '042-336-5112',
  'fax_no': '042-336-5912',
  'induty_code': '35200',
  'est_dt': '19851021',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00145862',
  'corp_name': '인천도시가스(주)',
  'corp_name_eng': 'INCHON CITY GAS',
  'stock_name': '인천도시가스',
  'stock_code': '034590',
  'ceo_nm': '정진혁',
  'corp_cls': 'Y',
  'jurir_no': '1201110014027',
  'bizr_no': '1378102459',
  'adres': '인천광역시 서구  백범로934번길 23',
  'hm_url': 'www.icgas.co.kr',
  'ir_url': '',
  'phn_no': '-1600-0002',
  'fax_no': '032-576-2710',
  'induty_code': '35200',
  'est_dt': '19830307',
  'acc_mt': '12'}]

In [5]:
import pandas as pd
df_all = pd.DataFrame(corp_list)

In [6]:
df_all

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,01208885,(주)경동도시가스,"KYUNGDONG CITY GAS CO.,LTD",경동도시가스,267290,"송재호, 나윤호",Y,2301110274751,1438132491,울산광역시 북구 염포로 260-10(진장동) 주식회사 경동도시가스,www.kdgas.co.kr,,052-219-5300,052-287-4189,35200,20170401,12
1,000,정상,00787376,대성에너지(주),"DAESUNG ENERGY CO.,LTD",대성에너지,117580,대표이사 김영훈 대표이사 윤홍식,Y,1701110387416,5048183652,대구광역시 중구 명덕로 85 (남산동),www.daesungenergy.com,,053-606-1000,053)606-1004,35200,20091001,12
2,000,정상,00123967,(주)부산도시가스,"BUSAN CITY GAS CO.,LTD",부산도시가스,015350,구태고,E,1801110039495,6178101562,부산광역시 수영구 황령대로 513,www.busangas.co.kr,,051-607-1178,051)623-9870,35200,19810304,12
3,000,정상,00128555,삼천리(주),"SAMCHULLY CO.,LTD",삼천리,004690,"이찬의, 유재권",Y,1101110005929,1168100755,"서울특별시 영등포구 국제금융로6길 42 (여의도동, 삼천리빌딩)",www.samchully.co.kr,,02-368-3300,02-368-5042,35200,19660707,12
4,000,정상,00130684,서울도시가스(주),"SEOUL CITY GAS CO.,LTD",서울도시가스,017390,공동대표이사 박근원 공동대표이사 김진철,Y,1101110360399,1098131605,서울특별시 강서구 공항대로 607 (염창동),www.seoulgas.co.kr,,02-810-8000,3660-8077,35200,19831128,12
5,000,정상,00152011,씨엔씨티에너지주식회사,"CNCITY energy CO.,LTD",씨엔씨티에너지,,"황인규,양대우",E,1601110007595,3058107023,대전광역시 중구 유등천동로 762 (중촌동),www.cncityenergy.com,,042-336-5112,042-336-5912,35200,19851021,12
6,000,정상,00145862,인천도시가스(주),INCHON CITY GAS,인천도시가스,034590,정진혁,Y,1201110014027,1378102459,인천광역시 서구 백범로934번길 23,www.icgas.co.kr,,-1600-0002,032-576-2710,35200,19830307,12

In [7]:
# 데이터프레임 형태로 변환
import pandas as pd
df_all = pd.DataFrame()
for corp_dict in corp_list:
    df = pd.DataFrame.from_dict(corp_dict, orient='index')
    df_t = df.transpose()
    df_all = pd.concat([df_all, df_t])

In [8]:
df_all

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,01208885,(주)경동도시가스,"KYUNGDONG CITY GAS CO.,LTD",경동도시가스,267290,"송재호, 나윤호",Y,2301110274751,1438132491,울산광역시 북구 염포로 260-10(진장동) 주식회사 경동도시가스,www.kdgas.co.kr,,052-219-5300,052-287-4189,35200,20170401,12
0,000,정상,00787376,대성에너지(주),"DAESUNG ENERGY CO.,LTD",대성에너지,117580,대표이사 김영훈 대표이사 윤홍식,Y,1701110387416,5048183652,대구광역시 중구 명덕로 85 (남산동),www.daesungenergy.com,,053-606-1000,053)606-1004,35200,20091001,12
0,000,정상,00123967,(주)부산도시가스,"BUSAN CITY GAS CO.,LTD",부산도시가스,015350,구태고,E,1801110039495,6178101562,부산광역시 수영구 황령대로 513,www.busangas.co.kr,,051-607-1178,051)623-9870,35200,19810304,12
0,000,정상,00128555,삼천리(주),"SAMCHULLY CO.,LTD",삼천리,004690,"이찬의, 유재권",Y,1101110005929,1168100755,"서울특별시 영등포구 국제금융로6길 42 (여의도동, 삼천리빌딩)",www.samchully.co.kr,,02-368-3300,02-368-5042,35200,19660707,12
0,000,정상,00130684,서울도시가스(주),"SEOUL CITY GAS CO.,LTD",서울도시가스,017390,공동대표이사 박근원 공동대표이사 김진철,Y,1101110360399,1098131605,서울특별시 강서구 공항대로 607 (염창동),www.seoulgas.co.kr,,02-810-8000,3660-8077,35200,19831128,12
0,000,정상,00152011,씨엔씨티에너지주식회사,"CNCITY energy CO.,LTD",씨엔씨티에너지,,"황인규,양대우",E,1601110007595,3058107023,대전광역시 중구 유등천동로 762 (중촌동),www.cncityenergy.com,,042-336-5112,042-336-5912,35200,19851021,12
0,000,정상,00145862,인천도시가스(주),INCHON CITY GAS,인천도시가스,034590,정진혁,Y,1201110014027,1378102459,인천광역시 서구 백범로934번길 23,www.icgas.co.kr,,-1600-0002,032-576-2710,35200,19830307,12

- corp_cls      법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
- acc_mt        결산월

In [12]:
df_all[['corp_code', 'corp_cls', 'acc_mt', 'stock_code', 'ceo_nm', 'corp_name']]

  corp_code corp_cls acc_mt stock_code                 ceo_nm    corp_name
0  01208885        Y     12     267290               송재호, 나윤호    (주)경동도시가스
0  00787376        Y     12     117580      대표이사 김영훈 대표이사 윤홍식     대성에너지(주)
0  00123967        E     12     015350                    구태고    (주)부산도시가스
0  00128555        Y     12     004690               이찬의, 유재권       삼천리(주)
0  00130684        Y     12     017390  공동대표이사 박근원 공동대표이사 김진철    서울도시가스(주)
0  00152011        E     12                           황인규,양대우  씨엔씨티에너지주식회사
0  00145862        Y     12     034590                    정진혁    인천도시가스(주)

In [14]:
df_listed_corp = df_all[df_all['corp_cls'] != "E"]

In [15]:
df_listed_corp[['corp_code', 'corp_cls', 'acc_mt', 'stock_code', 'ceo_nm', 'corp_name']]

  corp_code corp_cls acc_mt stock_code                 ceo_nm  corp_name
0  01208885        Y     12     267290               송재호, 나윤호  (주)경동도시가스
0  00787376        Y     12     117580      대표이사 김영훈 대표이사 윤홍식   대성에너지(주)
0  00128555        Y     12     004690               이찬의, 유재권     삼천리(주)
0  00130684        Y     12     017390  공동대표이사 박근원 공동대표이사 김진철  서울도시가스(주)
0  00145862        Y     12     034590                    정진혁  인천도시가스(주)

In [14]:
df_listed_corp['stock_code'].to_list()

['267290', '117580', '004690', '017390', '034590']