## 사업보고서 - 직원 현황 : 단일 회사(상장기업)
+ 작성: 임경호
+ 금융감독원 OPEN DART https://opendart.fss.or.kr/

In [13]:
import requests

url = 'https://opendart.fss.or.kr/api/empSttus.json'
api_key = 'f2e08d4ed3de0ba3d5cbf59c04c223e02b1751a2'
corp_code = '00787376'
# corp_codes = \
# ['01208885',
#  '00787376',      # 대성에너지
#  '00123967',
#  '00128555',  
#  '00130684',
#  '00152011',
#  '00145862']

# report code
# 1분기보고서 : 11013
# 반기보고서 : 11012
# 3분기보고서 : 11014
# 사업보고서 : 11011
params = {
    'corp_code': corp_code,
    'bsns_year': 2023,
    'reprt_code': 11013,
    'crtfc_key': api_key,
}

response = requests.get(url, params=params)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")

In [14]:
response.json()

{'status': '000',
 'message': '정상',
 'list': [{'rcept_no': '20230515001688',
   'corp_cls': 'Y',
   'corp_code': '00787376',
   'corp_name': '대성에너지',
   'sexdstn': '남',
   'fo_bbm': '도시가스',
   'reform_bfe_emp_co_rgllbr': '-',
   'reform_bfe_emp_co_cnttk': '-',
   'reform_bfe_emp_co_etc': '-',
   'rgllbr_co': '365',
   'rgllbr_abacpt_labrr_co': '-',
   'cnttk_co': '7',
   'cnttk_abacpt_labrr_co': '-',
   'sm': '372',
   'avrg_cnwk_sdytrn': '19년 6개월',
   'fyer_salary_totamt': '9,457,000,000',
   'jan_salary_am': '25,000,000',
   'rm': '-'},
  {'rcept_no': '20230515001688',
   'corp_cls': 'Y',
   'corp_code': '00787376',
   'corp_name': '대성에너지',
   'sexdstn': '여',
   'fo_bbm': '도시가스',
   'reform_bfe_emp_co_rgllbr': '-',
   'reform_bfe_emp_co_cnttk': '-',
   'reform_bfe_emp_co_etc': '-',
   'rgllbr_co': '30',
   'rgllbr_abacpt_labrr_co': '-',
   'cnttk_co': '-',
   'cnttk_abacpt_labrr_co': '-',
   'sm': '30',
   'avrg_cnwk_sdytrn': '14년 4개월',
   'fyer_salary_totamt': '539,000,000',
   'jan_salary_am': '18,000,000',
   'rm': '-'}]}

In [15]:
# 데이터프레임 형태로 변환
import pandas as pd
corp_employee = pd.json_normalize(response.json()['list'])

In [16]:
# fo_bbm    사업부문
# rgllbr_co 정규직 수
# cnttk_co  계약직 수
# sm        합계
# avrg_cnwk_sdytrn  평균 근속 연수
# fyer_salary_totamt  연간 급여 총액
# jan_salary_am     1인평균 급여액
corp_employee

,rcept_no,corp_cls,corp_code,corp_name,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,rm
0,20230515001688,Y,00787376,대성에너지,남,도시가스,-,-,-,365,-,7,-,372,19년 6개월,"9,457,000,000","25,000,000",-
1,20230515001688,Y,00787376,대성에너지,여,도시가스,-,-,-,30,-,-,-,30,14년 4개월,"539,000,000","18,000,000",-

In [17]:
# 인원수 컬럼에 있는 '-'을 '0'로 변환(숫자 형식으로 변환을 위해서임)
corp_employee = corp_employee.replace({'rgllbr_co' : '-',
                                       'cnttk_co' : '-'}, '0')
corp_employee = corp_employee.astype({'rgllbr_co' : 'int',
                                      'cnttk_co' : 'int',
                                      'sm' : 'int'})
corp_employee.groupby(['corp_code', 'corp_name']).agg(rgllbr_co = ('rgllbr_co', 'sum'),
                                                      cnttk_co = ('cnttk_co', 'sum'),
                                                      sm = ('sm', 'sum'))

                     rgllbr_co  cnttk_co   sm
corp_code corp_name
00787376  대성에너지            395         7  402