### 사업보고서 - 직원 현황 : 단일 회사(상장기업)

In [56]:
import requests

url = 'https://opendart.fss.or.kr/api/empSttus.json'
api_key = 'f2e08d4ed3de0ba3d5cbf59c04c223e02b1751a2'
corp_code = '01208885'
# corp_codes = \
# ['01208885',
#  '00787376',
#  '00123967',
#  '00128555',
#  '00130684',
#  '00152011',
#  '00145862']

# report code
# 1분기보고서 : 11013
# 반기보고서 : 11012
# 3분기보고서 : 11014
# 사업보고서 : 11011
params = {
    'corp_code': corp_code,
    'bsns_year': 2022,
    'reprt_code': 11011,
    'crtfc_key': api_key,
}

response = requests.get(url, params=params)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")

In [57]:
response.json()

{'status': '000',
 'message': '정상',
 'list': [{'rcept_no': '20230314001158',
   'corp_cls': 'Y',
   'corp_code': '01208885',
   'corp_name': '경동도시가스',
   'sexdstn': '남',
   'fo_bbm': '도시가스',
   'reform_bfe_emp_co_rgllbr': '-',
   'reform_bfe_emp_co_cnttk': '-',
   'reform_bfe_emp_co_etc': '-',
   'rgllbr_co': '243',
   'rgllbr_abacpt_labrr_co': '-',
   'cnttk_co': '28',
   'cnttk_abacpt_labrr_co': '-',
   'sm': '271',
   'avrg_cnwk_sdytrn': '18년 1개월',
   'fyer_salary_totamt': '26,255,973,000',
   'jan_salary_am': '96,886,000',
   'rm': '-'},
  {'rcept_no': '20230314001158',
   'corp_cls': 'Y',
   'corp_code': '01208885',
   'corp_name': '경동도시가스',
   'sexdstn': '여',
   'fo_bbm': '도시가스',
   'reform_bfe_emp_co_rgllbr': '-',
   'reform_bfe_emp_co_cnttk': '-',
   'reform_bfe_emp_co_etc': '-',
   'rgllbr_co': '19',
   'rgllbr_abacpt_labrr_co': '-',
   'cnttk_co': '5',
   'cnttk_abacpt_labrr_co': '-',
   'sm': '24',
   'avrg_cnwk_sdytrn': '15년 6개월',
   'fyer_salary_totamt': '1,951,041,000',
   'jan_salary_am': '81,293,000',
   'rm': '-'}]}

In [58]:
# 데이터프레임 형태로 변환
import pandas as pd
corp_employee = pd.json_normalize(response.json()['list'])

In [59]:
# fo_bbm    사업부문
# rgllbr_co 정규직 수
# cnttk_co  계약직 수
# sm        합계
# avrg_cnwk_sdytrn  평균 근속 연수
# fyer_salary_totamt  연간 급여 총액
# jan_salary_am     1인평균 급여액
corp_employee

,rcept_no,corp_cls,corp_code,corp_name,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,rm
0,20230314001158,Y,01208885,경동도시가스,남,도시가스,-,-,-,243,-,28,-,271,18년 1개월,"26,255,973,000","96,886,000",-
1,20230314001158,Y,01208885,경동도시가스,여,도시가스,-,-,-,19,-,5,-,24,15년 6개월,"1,951,041,000","81,293,000",-

In [60]:
corp_employee = corp_employee.astype({'rgllbr_co' : 'int'})
corp_employee.groupby(['corp_code', 'corp_name']).agg(rgl_emp = ('rgllbr_co', 'sum'))

                     rgl_emp
corp_code corp_name
01208885  경동도시가스         262