## 기업 개황(Overview): 여러 회사
+ 작성: 임경호
+ 금융감독원 OPEN DART https://opendart.fss.or.kr/

In [1]:
import requests
    
url = 'https://opendart.fss.or.kr/api/company.json'
api_key = 'f2e08d4ed3de0ba3d5cbf59c04c223e02b1751a2'

corp_codes = \
['01208885',
 '00787376',
 '00123967',
 '00128555',
 '00130684',
 '00152011',
 '00145862']

corp_list = []

for corp_code in corp_codes:
    params = {
        'corp_code': corp_code,
        'crtfc_key': api_key,
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:     # URL GET '200 정상'
        corp_list.append(response.json())
    else:
        print("URL GET Error", corp_code)

In [2]:
len(corp_list)

7

In [3]:
# 데이터프레임 형태로 변환
import pandas as pd
df_all = pd.DataFrame()
for corp_dict in corp_list:
    df = pd.DataFrame.from_dict(corp_dict, orient='index')
    df_t = df.transpose()
    df_all = pd.concat([df_all, df_t])

In [4]:
df_all.dtypes

status           object
message          object
corp_code        object
corp_name        object
corp_name_eng    object
stock_name       object
stock_code       object
ceo_nm           object
corp_cls         object
jurir_no         object
bizr_no          object
adres            object
hm_url           object
ir_url           object
phn_no           object
fax_no           object
induty_code      object
est_dt           object
acc_mt           object
dtype: object

- corp_cls      법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)
- acc_mt        결산월

In [12]:
df_all[['corp_code', 'corp_cls', 'acc_mt', 'stock_code', 'ceo_nm', 'corp_name']]

  corp_code corp_cls acc_mt stock_code                 ceo_nm    corp_name
0  01208885        Y     12     267290               송재호, 나윤호    (주)경동도시가스
0  00787376        Y     12     117580      대표이사 김영훈 대표이사 윤홍식     대성에너지(주)
0  00123967        E     12     015350                    구태고    (주)부산도시가스
0  00128555        Y     12     004690               이찬의, 유재권       삼천리(주)
0  00130684        Y     12     017390  공동대표이사 박근원 공동대표이사 김진철    서울도시가스(주)
0  00152011        E     12                           황인규,양대우  씨엔씨티에너지주식회사
0  00145862        Y     12     034590                    정진혁    인천도시가스(주)

In [14]:
df_listed_corp = df_all[df_all['corp_cls'] != "E"]

In [15]:
df_listed_corp[['corp_code', 'corp_cls', 'acc_mt', 'stock_code', 'ceo_nm', 'corp_name']]

  corp_code corp_cls acc_mt stock_code                 ceo_nm  corp_name
0  01208885        Y     12     267290               송재호, 나윤호  (주)경동도시가스
0  00787376        Y     12     117580      대표이사 김영훈 대표이사 윤홍식   대성에너지(주)
0  00128555        Y     12     004690               이찬의, 유재권     삼천리(주)
0  00130684        Y     12     017390  공동대표이사 박근원 공동대표이사 김진철  서울도시가스(주)
0  00145862        Y     12     034590                    정진혁  인천도시가스(주)

In [14]:
df_listed_corp['stock_code'].to_list()

['267290', '117580', '004690', '017390', '034590']