### 인덱스 가격

### FinanceDataReader
- pip install -U finance-datareader
- 사용자 안내서: https://financedata.github.io/posts/finance-data-reader-users-guide.html#
#### 종목 코드
- 거래소별 전체 종목코드: KRX (KOSPI, KODAQ, KONEX), NASDAQ, NYSE, AMEX, S&P 500
#### 가격 데이터
- 해외주식 가격 데이터: AAPL(애플), AMZN(아마존), GOOG(구글) 등
- 국내주식 가격 데이터: 005930(삼성전자), 091990(셀트리온헬스케어) 등
- 각종 지수: KS11(코스피지수), KQ11(코스닥지수), DJI(다우지수), IXIC(나스닥 지수), US500(S&P 5000)
- 환율 데이터: USD/KRX (원달러 환율), USD/EUR(달러당 유로화 환율), CNY/KRW: 위엔화 원화 환율
- 암호화폐 가격: BTC/USD (비트코인 달러 가격, Bitfinex), BTC/KRW (비트코인 원화 가격, 빗썸)

In [2]:
# 네이버 금융
import FinanceDataReader as fdr

index_code = 'KS11'     # KOSPI
start_date = '2023-09-01'
end_date = '2023-09-08'

df_fdr = fdr.DataReader(index_code, start=start_date, end=end_date)
df_fdr

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-09-01,2551.929932,2568.419922,2551.040039,2563.709961,2563.709961,492400
2023-09-04,2566.929932,2584.550049,2560.320068,2584.550049,2584.550049,342100
2023-09-05,2578.909912,2586.649902,2575.189941,2582.179932,2582.179932,383400
2023-09-06,2577.409912,2585.979980,2560.090088,2563.340088,2563.340088,421500
2023-09-07,2554.870117,2562.419922,2539.239990,2548.260010,2548.260010,376600