In [6]:
key = "YTg2NjFjM2FkOGFjZWQ5ODBmMDY1M2IwZTZiNjRlNzg="
url = "https://kosis.kr/openapi/statisticsExplData.do?method=getList"   # 요청 URL

In [14]:
# 통계조사ID
stat_id = "1964001"      
# stat_id = "1994044"

In [15]:
import requests
import warnings
warnings.filterwarnings('ignore')

params ={'apiKey' : key,                # 발급된 인증 key
        'statId' : stat_id,     # 통계조사ID 
        'metaItm' : "All",      # 요청 항목: 전체
        "jsonVD" : "Y",            # 결과 유형이 "json"인 경우 필수        
        'format' : "json"               # 결과 유형
        }

response = requests.get(url, params=params, verify=False)

if response.status_code == 200:     # URL GET '200 정상'
    print("URL GET Successful")
    
if response.text.__contains__("err"):
    print("No Data", response.text)

URL GET Successful

In [16]:
import json
import pandas as pd

contents = response.text    
json_data = json.loads(contents)
df = pd.DataFrame(json_data)

In [17]:
df.shape

(25, 25)

In [18]:
df

,writingTel,statsNm,writingPurps,statsField,statsKind,examinObjrange,examinObjArea,josaUnit,applyGroup,josaItm,...,statsPeriod,statsContinue,dataUserNote,mainTermExpl,dataCollectMth,examinHistory,writingSystem,confmNo,confmDt,statsEnd
0,통계청가동향과 (☎ 042-481-2533),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,소비자물가조사,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"상품과 서비스의 가격을 조사하여 소비자물가지수를 작성하고 그 결과를 정부 재정,금융...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,물가,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,지정통계 / 조사통계,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,(대표품목) 소비자가 일상생활을 영위하기 위하여 구입하는 상품과 서비스 458개 품...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,전국,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"40개 도시의 약 26,000개 소매점포 및 서비스 업체와 약 11,000개 전월세...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(주) 기타/대분류,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"- 지정된 품목 458개 및 조사상품(규격) 1,057개의 실제 거래가격 - 집세(...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,월,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,계속통계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,◦ 소비자물가지수는 가격변동을 측정하는 것으로 가격의 절대수준을 나타내지는 않음 -...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"기여도 : 개별 품목의 변동(전월(년)비, 전년동월(누계)비)이 총지수의 변동률에 ...",NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,(주) 면접조사,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,◦ 1936년: 경성상공회의소에서 처음 실시 ◦ 1945년 8월: 한국은행의 전신인...,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,조사대상처 →지방통계청 및 사무소 →통계청,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101007,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19640923,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,지정통계

In [76]:
df[df['ORG_NM'] == '대구광역시']

    ORG_ID ORG_NM  ... STAT_DB_CNT    QUERY
171    203  대구광역시  ...         245  소비자물가지수
201    203  대구광역시  ...         245  소비자물가지수
217    203  대구광역시  ...         245  소비자물가지수

[3 rows x 18 columns]