In [1]:
key = "YTg2NjFjM2FkOGFjZWQ5ODBmMDY1M2IwZTZiNjRlNzg="
url = "https://kosis.kr/openapi/statisticsData.do?method=getMeta&type=TBL"   # 요청 URL

In [2]:
org_id = "101"              # 기관 ID
tbl_id = "INH_1J22003"      # 통계표 ID

In [16]:
import requests
import warnings
warnings.filterwarnings('ignore')

# https://kosis.kr/openapi/statisticsData.do?method=getMeta&apiKey=인증키없음&format=json&type=TBL&orgId=101&tblId=INH_1J22003&jsonVD=Y
params ={'apiKey' : key,    # 발급된 인증 key
        "orgId" : org_id,   # 기관 ID
        "tblId" : tbl_id,   # 통계표 ID
        "jsonVD" : "Y",            # 결과 유형이 "json"인 경우 필수
        'format' : "json"   # 결과 유형
        }

response = requests.get(url, params=params, verify=False)

if response.status_code == 200:     # URL GET '200 정상'
    print("URL GET Successful")
    
if response.text.__contains__("err"):
    print("No Data", response.text)

URL GET Successful

In [19]:
import json
import pandas as pd

contents = response.text    
json_data = json.loads(contents)
df = pd.DataFrame(json_data)

In [20]:
df

        TBL_NM
0  소비자물가지수(시도)