## KOSIS 국가통계포털 "통계자료"
- KOSIS 국가통계표털: https://kosis.kr/index/index.do
- KOSIS 공유서비스 Open API: https://kosis.kr/openapi/index.jsp

In [63]:
import requests

key = "YTg2NjFjM2FkOGFjZWQ5ODBmMDY1M2IwZTZiNjRlNzg="
url = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList"   # 요청 URL

def req_data(org_id, tbl_id, obj, prd, start_prd, end_prd):
    params ={'apiKey' : key,    # 발급된 인증 key
            "orgId" : org_id,   # 기관 ID
            "tblId" : tbl_id,   # 통계표 ID
            "objL1" : obj[0],      # 분류1
            "objL2" : obj[1],      # 분류2
            "objL3" : obj[2],      # 분류3
            "objL4" : obj[3],      # 분류4
            "objL5" : obj[4],      # 분류5
            "objL6" : obj[5],      # 분류6
            "objL7" : obj[6],      # 분류7
            "objL8" : obj[7],      # 분류8
            # "itmId" : "T+",    # 항목
            "itmId" : "all",    # 항목
            "prdSe" : prd,      # 수록주기
            "startPrdDe" : start_prd,
            "endPrdDe" : end_prd,
            # "newEstPrdCnt" : "3",   # 최근 n개월 지정
            "jsonVD" : "Y",            # 결과 유형이 "json"인 경우 필수        
            'format' : "json"   # 결과 유형
            }

    response = requests.get(url, params=params, verify=False)

    if response.status_code == 200:     # URL GET '200 정상'
        if response.text.__contains__("err"):
            print("No Data", response.text)
            return None
    else:
        return None
        
    return response.text

### 소비자물가지수

In [64]:
import sys
import json
import pandas as pd

org_id = "101"              # 기관 ID
tbl_id = "INH_1J22003"      # 통계표 ID
prd = "M"   # 수록주기: 월간
start_prd = "202403"
end_prd = "202403"
obj = ["ALL", None, None, None, None, None, None, None]    # 8개

contents = req_data(org_id, tbl_id, obj, prd, start_prd, end_prd)

if contents is None:
    print("No Data. Program Exit")
    sys.exit()

json_data = json.loads(contents)
df = pd.DataFrame(json_data)

* 소비자물가지수 - 대구광역시

In [65]:
region = "T13"  # 대구광역시
df[df['C1'] == region]

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG,LST_CHN_DE
3,소비자물가지수(시도),202403,INH_1J22003,소비자물가지수(총지수),CPI,T,2020＝100,101,2020＝100,시도별,by City,114.07,M,T13,대구광역시,Daegu,2024-03-29

### 생활물가지수

In [66]:
import sys
import json
import pandas as pd

org_id = "101"              # 기관 ID
tbl_id = "DT_1J22005"      # 통계표 ID
prd = "M"   # 수록주기: 월간
start_prd = "202403"
end_prd = "202403"
obj = ["T10+", "ALL", None, None, None, None, None, None]    # 8개

contents = req_data(org_id, tbl_id, obj, prd, start_prd, end_prd)

if contents is None:
    print("No Data. Program Exit")
    sys.exit()

json_data = json.loads(contents)
df = pd.DataFrame(json_data)

* 생활물가지수 - 전국 (지방 단위는 제공 X)

In [67]:
region = "T10"  # 전국
c2 = "110"  # 생활물가지수
df[(df['C1'] == region) & (df['C2'] == c2)]

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,...,C2_OBJ_NM_ENG,DT,PRD_SE,C2,C1,C1_NM,C2_NM,C1_NM_ENG,C2_NM_ENG,LST_CHN_DE
1,생활물가지수(2020＝100),202403,DT_1J22005,생활물가지수,CPI for Living Necessaries(2020＝100),T,2020＝100,101,2020＝100,시도별,...,for Living Necessaries,116.59,M,110,T10,전국,생활물가지수,All cities,For living necessaries,2024-03-29