### 데이터 값 목록 전체

* 데이터 값 전체 자료를 csv 파일로 저장

In [8]:
import os
import pandas as pd

# 파일 저장 위치
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/items/"
file_list = os.listdir(path_dir)

df_all = pd.DataFrame()    
for file_name in file_list:
    if file_name != 'items_all.csv' and not file_name.startswith('__'):
        df = pd.read_csv(path_dir + file_name, dtype=object)
        df_all = pd.concat([df_all, df])
    
df_all.drop_duplicates(subset=['corp_code','rpt_num'], keep='first', inplace=True, ignore_index=True)            
df_all.to_csv(path_dir + 'items_all.csv', index=False)

### 파일에 저장된 데이터 값 목록 검색

In [9]:
import pandas as pd
# 데이터 Loading
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/items/"
df = pd.read_csv(path_dir + 'items_all.csv', dtype=object)
print(df.shape[0])
df.head(3)

297

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
1,00101220,001390,Y,KG케미칼,20230321001469,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,10877878.0,11773083.0,OK
2,00101220,001390,Y,KG케미칼,20220321001518,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,11695697.0,11017382.0,OK

In [11]:
df['doc_result'].value_counts()

doc_result
OK                              267
No Financial Statement Notes     30
Name: count, dtype: int64

In [12]:
df['unit'].value_counts()

unit
천원     202
백만원     56
원        9
Name: count, dtype: int64

In [13]:
# 오류 찾기: 재무제표 주석 문서가 있으면서 금액 단위가 없는 것
df.query("doc_result == 'OK' and unit.isna()")

Empty DataFrame
Columns: [corp_code, stock_code, corp_cls, corp_name, rpt_num, rpt_name, doc_title, doc_result, unit, val_a, val_b, item_result]
Index: []

In [10]:
df[df["doc_result"] == 'No Financial Statement Notes']

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
9,00101220,001390,Y,KG케미칼,20140331001226,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
10,00101220,001390,Y,KG케미칼,20130604000093,[기재정정]사업보고서 (2011.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
20,00107613,007660,Y,이수페타시스,20140530000995,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
21,00107613,007660,Y,이수페타시스,20130401002027,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
49,00113410,000120,Y,CJ대한통운,20140515001391,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
50,00113410,000120,Y,CJ대한통운,20130329001765,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
89,00126201,006660,Y,삼성공조,20140331000739,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
90,00126201,006660,Y,삼성공조,20130401000306,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
100,00126380,005930,Y,삼성전자,20140331002427,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
101,00126380,005930,Y,삼성전자,20130401003031,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
111,00126478,010140,Y,삼성중공업,20140331003348,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
112,00126478,010140,Y,삼성중공업,20130401002778,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
115,00127802,004380,Y,삼익THK,20130509001803,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
116,00127802,004380,Y,삼익THK,20140328000513,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
125,00140177,007070,Y,GS리테일,20140331002932,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
126,00140177,007070,Y,GS리테일,20130401002528,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
163,00165343,003010,Y,혜인,20140331003426,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
164,00165343,003010,Y,혜인,20130401002652,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
166,00267960,036500,E,에스에스컴텍,20130401001954,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
167,00267960,036500,E,에스에스컴텍,20140509000926,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
179,00269940,039130,Y,하나투어,20140331002360,[첨부추가]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
180,00269940,039130,Y,하나투어,20130329002563,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
191,00314790,NaN,E,코레이트자산운용,20140630000251,사업보고서 (2014.03),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
192,00314790,NaN,E,코레이트자산운용,20130701000018,[첨부정정]사업보고서 (2013.03),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
221,00652423,101140,Y,인바이오젠,20230322000764,사업보고서제출기한연장신고서 (2022.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
226,00652423,101140,Y,인바이오젠,20130327000380,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
228,00652423,101140,Y,인바이오젠,20140328000743,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
240,00688996,105560,Y,KB금융,20140331002917,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
241,00688996,105560,Y,KB금융,20130329001808,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN