### 데이터 값과 기업정보 최종 결과
* 결산년도 2017년 ~ 2021년
* 상장법인(유가증권+코스닥)

* 데이터 값 목록 가져오기

In [1]:
import pandas as pd

# 데이터값 파일
file_path = "D:/PythonProject/data-gatherer/dart_fs_notes/items/items_all.csv"
df_items_all = pd.read_csv(file_path, dtype=object)

# 기업개황정보 파일 읽기
file_path = "D:/PythonProject/data-gatherer/dart_fs_notes/company/corp_info_all.csv"
df_corp_info_all = pd.read_csv(file_path, dtype=object)

In [2]:
df_items_all.head(3)

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,val_a,val_b,item_result
0,00126380,005930,Y,삼성전자,20130401003031,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN
1,00126380,005930,Y,삼성전자,20220308000798,사업보고서 (2021.12),5. 재무제표 주석,OK,11173636.0,13497927.0,OK
2,00126380,005930,Y,삼성전자,20210309000744,사업보고서 (2020.12),5. 재무제표 주석,OK,9754082.0,10916538.0,OK

In [3]:
df_corp_info_all.head(1)

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00907484,동양플랜트건설(주),Tong Yang Magic,동양플랜트건설,NaN,박종복,E,1101114710441,NaN,서울특별시 영등포구 국제금융로2길 24 (여의도동),NaN,NaN,02-6150-7000,02-6150-7159,29173,20111019,12

* 데이터값과 기업개황정보 결합

In [4]:
df_result = pd.merge(df_items_all, df_corp_info_all[['corp_code', 'jurir_no', 'bizr_no']], 
                     how='left', left_on='corp_code', right_on='corp_code')

In [5]:
corp_codes = df_result['corp_code'].unique()

In [6]:
corp_codes

array(['00126380', '00267960', '00688996'], dtype=object)

In [7]:
df_result.sort_values(by=['corp_code', 'corp_name'])

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,val_a,val_b,item_result,jurir_no,bizr_no
0,00126380,005930,Y,삼성전자,20130401003031,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN
1,00126380,005930,Y,삼성전자,20220308000798,사업보고서 (2021.12),5. 재무제표 주석,OK,11173636.0,13497927.0,OK,NaN,NaN
2,00126380,005930,Y,삼성전자,20210309000744,사업보고서 (2020.12),5. 재무제표 주석,OK,9754082.0,10916538.0,OK,NaN,NaN
3,00126380,005930,Y,삼성전자,20200330003851,사업보고서 (2019.12),5. 재무제표 주석,OK,8277908.0,8764763.0,OK,NaN,NaN
4,00126380,005930,Y,삼성전자,20190401004781,사업보고서 (2018.12),5. 재무제표 주석,OK,6432630.0,6994986.0,OK,NaN,NaN
5,00126380,005930,Y,삼성전자,20230307000542,사업보고서 (2022.12),5. 재무제표 주석,OK,10758672.0,15168895.0,OK,NaN,NaN
6,00126380,005930,Y,삼성전자,20170331004518,사업보고서 (2016.12),5. 재무제표 주석,OK,5696660.0,6253751.0,OK,NaN,NaN
7,00126380,005930,Y,삼성전자,20160330003536,사업보고서 (2015.12),5. 재무제표 주석,OK,6123776.0,6179950.0,OK,NaN,NaN
8,00126380,005930,Y,삼성전자,20150331002915,사업보고서 (2014.12),5. 재무제표 주석,OK,6001044.0,6136995.0,OK,NaN,NaN
9,00126380,005930,Y,삼성전자,20140331002427,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN
10,00126380,005930,Y,삼성전자,20180402005019,사업보고서 (2017.12),5. 재무제표 주석,OK,5622587.0,6433797.0,OK,NaN,NaN
11,00267960,036500,E,에스에스컴텍,20130401001954,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN
12,00267960,036500,E,에스에스컴텍,20140509000926,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN
13,00688996,105560,Y,KB금융,20220325001281,[기재정정]사업보고서 (2021.12),5. 재무제표 주석,OK,22557.0,22778.0,OK,1101113975517,2018608254
14,00688996,105560,Y,KB금융,20130329001808,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,1101113975517,2018608254
15,00688996,105560,Y,KB금융,20140331002917,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,1101113975517,2018608254
16,00688996,105560,Y,KB금융,20150522000391,[기재정정]사업보고서 (2014.12),5. 재무제표 주석,OK,13117.0,12314.0,OK,1101113975517,2018608254
17,00688996,105560,Y,KB금융,20160401000506,[첨부정정]사업보고서 (2015.12),주석,OK,1413600.0,1340403.0,OK,1101113975517,2018608254
18,00688996,105560,Y,KB금융,20170331004054,사업보고서 (2016.12),5. 재무제표 주석,OK,15075.0,15268.0,OK,1101113975517,2018608254
19,00688996,105560,Y,KB금융,20210427000533,[기재정정]사업보고서 (2020.12),5. 재무제표 주석,OK,21951.0,21892.0,OK,1101113975517,2018608254
20,00688996,105560,Y,KB금융,20210427000468,[기재정정]사업보고서 (2019.12),5. 재무제표 주석,OK,20312.0,19875.0,OK,1101113975517,2018608254
21,00688996,105560,Y,KB금융,20210427000426,[기재정정]사업보고서 (2018.12),5. 재무제표 주석,OK,20363.0,20180.0,OK,1101113975517,2018608254
22,00688996,105560,Y,KB금융,20210427000354,[기재정정]사업보고서 (2017.12),5. 재무제표 주석,OK,16594.0,16795.0,OK,1101113975517,2018608254
23,00688996,105560,Y,KB금융,20231005000471,[기재정정]사업보고서 (2022.12),5. 재무제표 주석,OK,17973.0,22261.0,OK,1101113975517,2018608254

In [8]:
# 정렬
# df_result = df_result.sort_values(by=['rpt_num'], ascending=True)
df_result = df_result.sort_values(by=['corp_code'], ascending=False)
df_result

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,val_a,val_b,item_result,jurir_no,bizr_no
23,00688996,105560,Y,KB금융,20231005000471,[기재정정]사업보고서 (2022.12),5. 재무제표 주석,OK,17973.0,22261.0,OK,1101113975517,2018608254
13,00688996,105560,Y,KB금융,20220325001281,[기재정정]사업보고서 (2021.12),5. 재무제표 주석,OK,22557.0,22778.0,OK,1101113975517,2018608254
22,00688996,105560,Y,KB금융,20210427000354,[기재정정]사업보고서 (2017.12),5. 재무제표 주석,OK,16594.0,16795.0,OK,1101113975517,2018608254
21,00688996,105560,Y,KB금융,20210427000426,[기재정정]사업보고서 (2018.12),5. 재무제표 주석,OK,20363.0,20180.0,OK,1101113975517,2018608254
20,00688996,105560,Y,KB금융,20210427000468,[기재정정]사업보고서 (2019.12),5. 재무제표 주석,OK,20312.0,19875.0,OK,1101113975517,2018608254
19,00688996,105560,Y,KB금융,20210427000533,[기재정정]사업보고서 (2020.12),5. 재무제표 주석,OK,21951.0,21892.0,OK,1101113975517,2018608254
18,00688996,105560,Y,KB금융,20170331004054,사업보고서 (2016.12),5. 재무제표 주석,OK,15075.0,15268.0,OK,1101113975517,2018608254
17,00688996,105560,Y,KB금융,20160401000506,[첨부정정]사업보고서 (2015.12),주석,OK,1413600.0,1340403.0,OK,1101113975517,2018608254
16,00688996,105560,Y,KB금융,20150522000391,[기재정정]사업보고서 (2014.12),5. 재무제표 주석,OK,13117.0,12314.0,OK,1101113975517,2018608254
15,00688996,105560,Y,KB금융,20140331002917,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,1101113975517,2018608254
14,00688996,105560,Y,KB금융,20130329001808,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,1101113975517,2018608254
12,00267960,036500,E,에스에스컴텍,20140509000926,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN
11,00267960,036500,E,에스에스컴텍,20130401001954,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN
1,00126380,005930,Y,삼성전자,20220308000798,사업보고서 (2021.12),5. 재무제표 주석,OK,11173636.0,13497927.0,OK,NaN,NaN
10,00126380,005930,Y,삼성전자,20180402005019,사업보고서 (2017.12),5. 재무제표 주석,OK,5622587.0,6433797.0,OK,NaN,NaN
9,00126380,005930,Y,삼성전자,20140331002427,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN
8,00126380,005930,Y,삼성전자,20150331002915,사업보고서 (2014.12),5. 재무제표 주석,OK,6001044.0,6136995.0,OK,NaN,NaN
7,00126380,005930,Y,삼성전자,20160330003536,사업보고서 (2015.12),5. 재무제표 주석,OK,6123776.0,6179950.0,OK,NaN,NaN
6,00126380,005930,Y,삼성전자,20170331004518,사업보고서 (2016.12),5. 재무제표 주석,OK,5696660.0,6253751.0,OK,NaN,NaN
5,00126380,005930,Y,삼성전자,20230307000542,사업보고서 (2022.12),5. 재무제표 주석,OK,10758672.0,15168895.0,OK,NaN,NaN
4,00126380,005930,Y,삼성전자,20190401004781,사업보고서 (2018.12),5. 재무제표 주석,OK,6432630.0,6994986.0,OK,NaN,NaN
3,00126380,005930,Y,삼성전자,20200330003851,사업보고서 (2019.12),5. 재무제표 주석,OK,8277908.0,8764763.0,OK,NaN,NaN
2,00126380,005930,Y,삼성전자,20210309000744,사업보고서 (2020.12),5. 재무제표 주석,OK,9754082.0,10916538.0,OK,NaN,NaN
0,00126380,005930,Y,삼성전자,20130401003031,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,NaN