### 데이터 값 목록 전체

* 데이터 값 전체 자료를 csv 파일로 저장

In [1]:
import os
import pandas as pd

# 파일 저장 위치
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/items/"
file_list = os.listdir(path_dir)

df_all = pd.DataFrame()    
for file_name in file_list:
    if file_name != 'items_all.csv' and not file_name.startswith('__'):
        df = pd.read_csv(path_dir + file_name, dtype=object)
        df_all = pd.concat([df_all, df])
    
df_all.drop_duplicates(subset=['corp_code','rpt_num'], keep='first', inplace=True, ignore_index=True)            
df_all.to_csv(path_dir + 'items_all.csv', index=False)

### 파일에 저장된 데이터 값 목록 검색

In [2]:
import pandas as pd
# 데이터 Loading
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/items/"
df = pd.read_csv(path_dir + 'items_all.csv', dtype=object)
print(df.shape[0])
df.head(3)

572

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
1,00101220,001390,Y,KG케미칼,20230321001469,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,10877878.0,11773083.0,OK
2,00101220,001390,Y,KG케미칼,20220321001518,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,11695697.0,11017382.0,OK

In [3]:
df['doc_result'].value_counts()

doc_result
OK                              535
No Financial Statement Notes     37
Name: count, dtype: int64

In [4]:
df['unit'].value_counts()

unit
천원     408
백만원    118
원        9
Name: count, dtype: int64

In [5]:
df[df["unit"] == '천원']

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
1,00101220,001390,Y,KG케미칼,20230321001469,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,10877878.0,11773083.0,OK
2,00101220,001390,Y,KG케미칼,20220321001518,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,11695697.0,11017382.0,OK
3,00101220,001390,Y,KG케미칼,20210319001296,사업보고서 (2020.12),5. 재무제표 주석,OK,천원,10790159.0,10157680.0,OK
4,00101220,001390,Y,KG케미칼,20200217000717,[기재정정]사업보고서 (2016.12),5. 재무제표 주석,OK,천원,9218235.0,7880295.0,OK
5,00101220,001390,Y,KG케미칼,20190401004993,사업보고서 (2018.12),5. 재무제표 주석,OK,천원,9579272.0,8943280.0,OK
...,...,...,...,...,...,...,...,...,...,...,...,...
567,01535150,395400,Y,SK리츠,20230314000759,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,0.0,0.0,OK
568,01535150,395400,Y,SK리츠,20220310001102,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,0.0,0.0,OK
569,01535150,395400,Y,SK리츠,20211215000203,사업보고서 (2021.09),5. 재무제표 주석,OK,천원,0.0,0.0,OK
570,01535150,395400,Y,SK리츠,20220531002252,사업보고서 (2022.03),5. 재무제표 주석,OK,천원,0.0,0.0,OK
571,01535150,395400,Y,SK리츠,20230620000242,사업보고서 (2023.03),5. 재무제표 주석,OK,천원,0.0,0.0,OK

In [6]:
# 오류 찾기: 재무제표 주석 문서가 있으면서 금액 단위가 없는 것
df.query("doc_result == 'OK' and unit.isna()")

Empty DataFrame
Columns: [corp_code, stock_code, corp_cls, corp_name, rpt_num, rpt_name, doc_title, doc_result, unit, val_a, val_b, item_result]
Index: []

In [7]:
df[df["doc_result"] == 'No Financial Statement Notes']

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
9,00101220,001390,Y,KG케미칼,20140331001226,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
10,00101220,001390,Y,KG케미칼,20130604000093,[기재정정]사업보고서 (2011.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
34,00107613,007660,Y,이수페타시스,20140530000995,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
35,00107613,007660,Y,이수페타시스,20130401002027,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
38,00108940,016710,Y,대성홀딩스,20211123000300,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
100,00113410,000120,Y,CJ대한통운,20140515001391,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
101,00113410,000120,Y,CJ대한통운,20130329001765,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
161,00124151,005030,Y,부산주공,20180515001583,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
162,00124151,005030,Y,부산주공,20180515001612,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
171,00124151,005030,Y,부산주공,20180515001549,[기재정정]사업보고서 (2011.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
180,00126201,006660,Y,삼성공조,20140331000739,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
181,00126201,006660,Y,삼성공조,20130401000306,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
191,00126380,005930,Y,삼성전자,20140331002427,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
192,00126380,005930,Y,삼성전자,20130401003031,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
202,00126478,010140,Y,삼성중공업,20140331003348,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
203,00126478,010140,Y,삼성중공업,20130401002778,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
208,00127255,003720,Y,삼영,20210312001197,사업보고서제출기한연장신고서 (2020.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
214,00127802,004380,Y,삼익THK,20130509001803,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
215,00127802,004380,Y,삼익THK,20140328000513,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
269,00140177,007070,Y,GS리테일,20140331002932,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
270,00140177,007070,Y,GS리테일,20130401002528,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
347,00160588,000880,Y,한화,20170419000057,[첨부정정]사업보고서 (2016.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
370,00165343,003010,Y,혜인,20140331003426,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
371,00165343,003010,Y,혜인,20130401002652,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
387,00267960,036500,E,에스에스컴텍,20130401001954,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
388,00267960,036500,E,에스에스컴텍,20140509000926,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
400,00269940,039130,Y,하나투어,20140331002360,[첨부추가]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
401,00269940,039130,Y,하나투어,20130329002563,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
412,00314790,NaN,E,코레이트자산운용,20140630000251,사업보고서 (2014.03),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
413,00314790,NaN,E,코레이트자산운용,20130701000018,[첨부정정]사업보고서 (2013.03),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
444,00401731,066570,Y,LG전자,20210316001210,[첨부정정]사업보고서 (2020.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
484,00652423,101140,Y,인바이오젠,20230322000764,사업보고서제출기한연장신고서 (2022.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
489,00652423,101140,Y,인바이오젠,20130327000380,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
491,00652423,101140,Y,인바이오젠,20140328000743,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
503,00688996,105560,Y,KB금융,20140331002917,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
504,00688996,105560,Y,KB금융,20130329001808,사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN