### 데이터 값과 기업정보 최종 결과
* 결산년도 2017년 ~ 2021년
* 상장법인(유가증권+코스닥)

* 데이터 값 목록 가져오기

In [1]:
import pandas as pd

# 데이터값 파일
file_path = "D:/PythonProject/data-gatherer/dart_fs_notes/items/items_all.csv"
df_items_all = pd.read_csv(file_path, dtype=object)

# 기업개황정보 파일 읽기
file_path = "D:/PythonProject/data-gatherer/dart_fs_notes/company/corp_info_all.csv"
df_corp_info_all = pd.read_csv(file_path, dtype=object)

In [2]:
print(df_items_all.shape[0])
df_items_all.head(3)

592

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
1,00101220,001390,Y,KG케미칼,20230321001469,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,10877878.0,11773083.0,OK
2,00101220,001390,Y,KG케미칼,20220321001518,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,11695697.0,11017382.0,OK

In [3]:
df_corp_info_all.head(1)

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00907484,동양플랜트건설(주),Tong Yang Magic,동양플랜트건설,NaN,박종복,E,1101114710441,NaN,서울특별시 영등포구 국제금융로2길 24 (여의도동),NaN,NaN,02-6150-7000,02-6150-7159,29173,20111019,12

* 데이터값과 기업개황정보 결합

In [4]:
df_result = pd.merge(df_items_all, df_corp_info_all[['corp_code', 'jurir_no', 'bizr_no']], 
                     how='left', left_on='corp_code', right_on='corp_code')

In [5]:
# 금액을 백만원 단위로 변환
def change_val(v, unit):
    if unit == '백만원':
        amt = float(v)
    elif unit == '천원':
        amt = round(float(v) / 1000, 0)
    elif unit == '원':
        amt = round(float(v) / 1000000, 0)
    else:
        amt = 0
    return amt

In [6]:
# 금액을 백만원 단위로 변환한 항목을 추가
df_result['m_val_a'] = df_result.apply(lambda x : change_val(x['val_a'], x['unit']), axis=1)
df_result['m_val_b'] = df_result.apply(lambda x : change_val(x['val_b'], x['unit']), axis=1)

In [7]:
df_result.head(10)

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result,jurir_no,bizr_no,m_val_a,m_val_b
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1243110008999,1308109693,0.0,0.0
1,00101220,001390,Y,KG케미칼,20230321001469,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,10877878.0,11773083.0,OK,1243110008999,1308109693,10878.0,11773.0
2,00101220,001390,Y,KG케미칼,20220321001518,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,11695697.0,11017382.0,OK,1243110008999,1308109693,11696.0,11017.0
3,00101220,001390,Y,KG케미칼,20210319001296,사업보고서 (2020.12),5. 재무제표 주석,OK,천원,10790159.0,10157680.0,OK,1243110008999,1308109693,10790.0,10158.0
4,00101220,001390,Y,KG케미칼,20200217000717,[기재정정]사업보고서 (2016.12),5. 재무제표 주석,OK,천원,9218235.0,7880295.0,OK,1243110008999,1308109693,9218.0,7880.0
5,00101220,001390,Y,KG케미칼,20190401004993,사업보고서 (2018.12),5. 재무제표 주석,OK,천원,9579272.0,8943280.0,OK,1243110008999,1308109693,9579.0,8943.0
6,00101220,001390,Y,KG케미칼,20200330004224,사업보고서 (2019.12),5. 재무제표 주석,OK,천원,11168276.0,9610256.0,OK,1243110008999,1308109693,11168.0,9610.0
7,00101220,001390,Y,KG케미칼,20170210000636,[기재정정]사업보고서 (2015.12),5. 재무제표 주석,OK,천원,0.0,5604423.0,OK,1243110008999,1308109693,0.0,5604.0
8,00101220,001390,Y,KG케미칼,20170210000632,[기재정정]사업보고서 (2014.12),5. 재무제표 주석,OK,천원,0.0,4780356.0,OK,1243110008999,1308109693,0.0,4780.0
9,00101220,001390,Y,KG케미칼,20140331001226,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1243110008999,1308109693,0.0,0.0

In [8]:
corp_codes = df_result['corp_code'].unique()

In [10]:
df_result.sort_values(by=['corp_code', 'corp_name'])

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result,jurir_no,bizr_no,m_val_a,m_val_b
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1243110008999,1308109693,0.0,0.0
1,00101220,001390,Y,KG케미칼,20230321001469,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,10877878.0,11773083.0,OK,1243110008999,1308109693,10878.0,11773.0
2,00101220,001390,Y,KG케미칼,20220321001518,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,11695697.0,11017382.0,OK,1243110008999,1308109693,11696.0,11017.0
3,00101220,001390,Y,KG케미칼,20210319001296,사업보고서 (2020.12),5. 재무제표 주석,OK,천원,10790159.0,10157680.0,OK,1243110008999,1308109693,10790.0,10158.0
4,00101220,001390,Y,KG케미칼,20200217000717,[기재정정]사업보고서 (2016.12),5. 재무제표 주석,OK,천원,9218235.0,7880295.0,OK,1243110008999,1308109693,9218.0,7880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,01535150,395400,Y,SK리츠,20230314000759,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
588,01535150,395400,Y,SK리츠,20220310001102,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
589,01535150,395400,Y,SK리츠,20211215000203,사업보고서 (2021.09),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
590,01535150,395400,Y,SK리츠,20220531002252,사업보고서 (2022.03),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
591,01535150,395400,Y,SK리츠,20230620000242,사업보고서 (2023.03),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0

In [11]:
# 정렬
# df_result = df_result.sort_values(by=['rpt_num'], ascending=True)
df_result = df_result.sort_values(by=['corp_code'], ascending=False)
df_result

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result,jurir_no,bizr_no,m_val_a,m_val_b
591,01535150,395400,Y,SK리츠,20230620000242,사업보고서 (2023.03),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
590,01535150,395400,Y,SK리츠,20220531002252,사업보고서 (2022.03),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
589,01535150,395400,Y,SK리츠,20211215000203,사업보고서 (2021.09),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
588,01535150,395400,Y,SK리츠,20220310001102,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
587,01535150,395400,Y,SK리츠,20230314000759,사업보고서 (2022.12),5. 재무제표 주석,OK,천원,0.0,0.0,OK,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,00101220,001390,Y,KG케미칼,20170210000632,[기재정정]사업보고서 (2014.12),5. 재무제표 주석,OK,천원,0.0,4780356.0,OK,1243110008999,1308109693,0.0,4780.0
9,00101220,001390,Y,KG케미칼,20140331001226,사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1243110008999,1308109693,0.0,0.0
10,00101220,001390,Y,KG케미칼,20130604000093,[기재정정]사업보고서 (2011.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1243110008999,1308109693,0.0,0.0
11,00101220,001390,Y,KG케미칼,20180402004883,사업보고서 (2017.12),5. 재무제표 주석,OK,천원,8443252.0,8443252.0,OK,1243110008999,1308109693,8443.0,8443.0
0,00101220,001390,Y,KG케미칼,20130604000167,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1243110008999,1308109693,0.0,0.0