### 데이터 값과 기업정보 최종 결과
* 결산년도 2017년 ~ 2021년
* 상장법인(유가증권+코스닥)

* 데이터 값 목록 가져오기

In [1]:
import pandas as pd

# 데이터값 파일
file_path = "D:/PythonProject/data-gatherer/dart_fs_notes/items/items_all.csv"
df_items_all = pd.read_csv(file_path, dtype=object)

# 기업개황정보 파일 읽기
file_path = "D:/PythonProject/data-gatherer/dart_fs_notes/company/corp_info_all.csv"
df_corp_info_all = pd.read_csv(file_path, dtype=object)

In [2]:
print(df_items_all.shape[0])
df_items_all.head(3)

2444

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
0,00100939,000860,Y,강남제비스코,20181231000114,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN
1,00100939,000860,Y,강남제비스코,20181231000137,[기재정정]사업보고서 (2017.12),5. 재무제표 주석,OK,백만원,23399.0,25631.0,OK
2,00100939,000860,Y,강남제비스코,20181231000103,[기재정정]사업보고서 (2011.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN

In [18]:
str_expr = "val_a == '-1'or val_b == '-1'"
df_items_all.query(str_expr)

Empty DataFrame
Columns: [corp_code, stock_code, corp_cls, corp_name, rpt_num, rpt_name, doc_title, doc_result, unit, val_a, val_b, item_result]
Index: []

In [19]:
df_items_all[df_items_all['corp_name'].str.contains('송원산업')]

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result
950,00134963,004430,Y,송원산업,20210304000035,사업보고서 (2020.12),5. 재무제표 주석,OK,백만원,77982.0,NaN,OK
951,00134963,004430,Y,송원산업,20220303000087,사업보고서 (2021.12),5. 재무제표 주석,OK,백만원,74778.0,NaN,OK
952,00134963,004430,Y,송원산업,20200327001345,사업보고서 (2019.12),5. 재무제표 주석,OK,백만원,85678.0,NaN,OK
953,00134963,004430,Y,송원산업,20230302000104,사업보고서 (2022.12),5. 재무제표 주석,OK,백만원,65649.0,-1.0,OK
954,00134963,004430,Y,송원산업,20180330001033,사업보고서 (2017.12),5. 재무제표 주석,OK,백만원,59224.0,NaN,OK
955,00134963,004430,Y,송원산업,20190329000586,사업보고서 (2018.12),5. 재무제표 주석,OK,백만원,68635.0,NaN,OK
956,00134963,004430,Y,송원산업,20170331002137,사업보고서 (2016.12),5. 재무제표 주석,OK,백만원,53878.0,NaN,OK

In [3]:
df_corp_info_all.shape[0]

103859

In [4]:
df_corp_info_all.head(1)

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00907484,동양플랜트건설(주),Tong Yang Magic,동양플랜트건설,NaN,박종복,E,1101114710441,NaN,서울특별시 영등포구 국제금융로2길 24 (여의도동),NaN,NaN,02-6150-7000,02-6150-7159,29173,20111019,12

* 데이터값과 기업개황정보 결합

In [5]:
df_result = pd.merge(df_items_all, df_corp_info_all[['corp_code', 'jurir_no', 'bizr_no']], 
                     how='left', left_on='corp_code', right_on='corp_code')

In [6]:
# 금액을 백만원 단위로 변환
def change_val(v, unit):
    if unit == '백만원':
        amt = float(v)
    elif unit == '천원':
        amt = round(float(v) / 1000, 0)
    elif unit == '원':
        amt = round(float(v) / 1000000, 0)
    else:
        amt = 0
    return amt

In [7]:
# 금액을 백만원 단위로 변환한 항목을 추가
df_result['m_val_a'] = df_result.apply(lambda x : change_val(x['val_a'], x['unit']), axis=1)
df_result['m_val_b'] = df_result.apply(lambda x : change_val(x['val_b'], x['unit']), axis=1)

In [8]:
df_result.head(10)

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result,jurir_no,bizr_no,m_val_a,m_val_b
0,00100939,000860,Y,강남제비스코,20181231000114,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1801110003391,6058103330,0.0,0.0
1,00100939,000860,Y,강남제비스코,20181231000137,[기재정정]사업보고서 (2017.12),5. 재무제표 주석,OK,백만원,23399.0,25631.0,OK,1801110003391,6058103330,23399.0,25631.0
2,00100939,000860,Y,강남제비스코,20181231000103,[기재정정]사업보고서 (2011.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1801110003391,6058103330,0.0,0.0
3,00100939,000860,Y,강남제비스코,20181231000110,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1801110003391,6058103330,0.0,0.0
4,00100939,000860,Y,강남제비스코,20181231000124,[기재정정]사업보고서 (2015.12),5. 재무제표 주석,OK,백만원,18702.0,17986.0,OK,1801110003391,6058103330,18702.0,17986.0
5,00100939,000860,Y,강남제비스코,20181231000116,[기재정정]사업보고서 (2014.12),5. 재무제표 주석,OK,백만원,15915.0,15215.0,OK,1801110003391,6058103330,15915.0,15215.0
6,00100939,000860,Y,강남제비스코,20181231000132,[기재정정]사업보고서 (2016.12),5. 재무제표 주석,OK,백만원,0.0,23547.0,OK,1801110003391,6058103330,0.0,23547.0
7,00100939,000860,Y,강남제비스코,20190401003049,사업보고서 (2018.12),5. 재무제표 주석,OK,백만원,25384.0,27617.0,OK,1801110003391,6058103330,25384.0,27617.0
8,00100939,000860,Y,강남제비스코,20200330002287,사업보고서 (2019.12),5. 재무제표 주석,OK,백만원,27013.0,28137.0,OK,1801110003391,6058103330,27013.0,28137.0
9,00100939,000860,Y,강남제비스코,20210317000299,사업보고서 (2020.12),5. 재무제표 주석,OK,백만원,28794.0,29204.0,OK,1801110003391,6058103330,28794.0,29204.0

In [9]:
corp_codes = df_result['corp_code'].unique()

In [10]:
df_result.sort_values(by=['corp_code', 'corp_name'])

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result,jurir_no,bizr_no,m_val_a,m_val_b
0,00100939,000860,Y,강남제비스코,20181231000114,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1801110003391,6058103330,0.0,0.0
1,00100939,000860,Y,강남제비스코,20181231000137,[기재정정]사업보고서 (2017.12),5. 재무제표 주석,OK,백만원,23399.0,25631.0,OK,1801110003391,6058103330,23399.0,25631.0
2,00100939,000860,Y,강남제비스코,20181231000103,[기재정정]사업보고서 (2011.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1801110003391,6058103330,0.0,0.0
3,00100939,000860,Y,강남제비스코,20181231000110,[기재정정]사업보고서 (2012.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1801110003391,6058103330,0.0,0.0
4,00100939,000860,Y,강남제비스코,20181231000124,[기재정정]사업보고서 (2015.12),5. 재무제표 주석,OK,백만원,18702.0,17986.0,OK,1801110003391,6058103330,18702.0,17986.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2439,01515323,373220,Y,LG에너지솔루션,20230315001342,사업보고서 (2022.12),5. 재무제표 주석,OK,백만원,547721.0,770240.0,OK,1101117701356,8518102050,547721.0,770240.0
2440,01532603,378850,Y,화승알앤에이,20220321000964,사업보고서 (2021.12),5. 재무제표 주석,OK,NaN,0.0,0.0,OK,2341110120538,3058640935,0.0,0.0
2441,01532603,378850,Y,화승알앤에이,20230321000920,사업보고서 (2022.12),5. 재무제표 주석,OK,NaN,0.0,0.0,OK,2341110120538,3058640935,0.0,0.0
2442,01568413,383220,Y,F&F,20220317001143,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,9734927.0,8981707.0,OK,1101117875440,1538102451,9735.0,8982.0
2443,01568413,383220,Y,F&F,20230831001367,[기재정정]사업보고서 (2022.12),5. 재무제표 주석,OK,천원,11858645.0,12218344.0,OK,1101117875440,1538102451,11859.0,12218.0

In [11]:
# 정렬
# df_result = df_result.sort_values(by=['rpt_num'], ascending=True)
df_result = df_result.sort_values(by=['corp_code'], ascending=False)
df_result

,corp_code,stock_code,corp_cls,corp_name,rpt_num,rpt_name,doc_title,doc_result,unit,val_a,val_b,item_result,jurir_no,bizr_no,m_val_a,m_val_b
2443,01568413,383220,Y,F&F,20230831001367,[기재정정]사업보고서 (2022.12),5. 재무제표 주석,OK,천원,11858645.0,12218344.0,OK,1101117875440,1538102451,11859.0,12218.0
2442,01568413,383220,Y,F&F,20220317001143,사업보고서 (2021.12),5. 재무제표 주석,OK,천원,9734927.0,8981707.0,OK,1101117875440,1538102451,9735.0,8982.0
2441,01532603,378850,Y,화승알앤에이,20230321000920,사업보고서 (2022.12),5. 재무제표 주석,OK,NaN,0.0,0.0,OK,2341110120538,3058640935,0.0,0.0
2440,01532603,378850,Y,화승알앤에이,20220321000964,사업보고서 (2021.12),5. 재무제표 주석,OK,NaN,0.0,0.0,OK,2341110120538,3058640935,0.0,0.0
2439,01515323,373220,Y,LG에너지솔루션,20230315001342,사업보고서 (2022.12),5. 재무제표 주석,OK,백만원,547721.0,770240.0,OK,1101117701356,8518102050,547721.0,770240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,00100939,000860,Y,강남제비스코,20200330002287,사업보고서 (2019.12),5. 재무제표 주석,OK,백만원,27013.0,28137.0,OK,1801110003391,6058103330,27013.0,28137.0
9,00100939,000860,Y,강남제비스코,20210317000299,사업보고서 (2020.12),5. 재무제표 주석,OK,백만원,28794.0,29204.0,OK,1801110003391,6058103330,28794.0,29204.0
10,00100939,000860,Y,강남제비스코,20220321000879,사업보고서 (2021.12),5. 재무제표 주석,OK,백만원,29153.0,31648.0,OK,1801110003391,6058103330,29153.0,31648.0
11,00100939,000860,Y,강남제비스코,20230320000691,사업보고서 (2022.12),5. 재무제표 주석,OK,백만원,25461.0,40102.0,OK,1801110003391,6058103330,25461.0,40102.0
0,00100939,000860,Y,강남제비스코,20181231000114,[기재정정]사업보고서 (2013.12),NaN,No Financial Statement Notes,NaN,NaN,NaN,NaN,1801110003391,6058103330,0.0,0.0

In [12]:
len(df_result['corp_code'].unique())

342

In [13]:
import sys
module_path = "D:\PythonProject\data-gatherer\dart_fs_notes"
sys.path.append(module_path)
import myutil

file_path = "D:/PythonProject/data-gatherer/dart_fs_notes/output/"
file_name = 'result_' + myutil.now_dt_str() + '.csv'
df_result.to_csv(file_path + file_name, index=False)