## 기업 고유코드
+ 작성: 임경호
+ 금융감독원 OPEN DART https://opendart.fss.or.kr/

In [1]:
import requests

url = 'https://opendart.fss.or.kr/api/corpCode.xml'
api_key = 'f2e08d4ed3de0ba3d5cbf59c04c223e02b1751a2'
params = {
    'crtfc_key': api_key,
}

response = requests.get(url, params=params)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")

In [2]:
import io
import zipfile

# 출력포멧이 Zip FILE (binary)
f = io.BytesIO(response.content)
zfile = zipfile.ZipFile(f)

In [3]:
zfile.namelist()

['CORPCODE.xml']

In [4]:
import pandas as pd
import xmltodict
# 압축된 파일에서 데이터를 읽습니다. xmltodict 모듈을 사용해서 압축이 해제된 xml 데이터를 파이썬의 OrderedDict 타입으로 변환합니다.
xml_data = zfile.read("CORPCODE.xml").decode("utf-8")
dict_data = xmltodict.parse(xml_data)
# 딕셔너리에서 키 값을 확인하여 실제 데이터가 있는 부분을 인덱싱합니다. 그러다음 해당 데이터를 판다스의 데이터프레임 객체로 변환합니다.
data_list = dict_data['result']['list']
df_corp = pd.DataFrame(data_list)

In [5]:
df_corp.shape

(103859, 4)

In [6]:
df_corp = df_corp.astype({'corp_code' : 'string', 'stock_code' : 'string'})

In [7]:
df_corp.dtypes

corp_code      string[python]
corp_name              object
stock_code     string[python]
modify_date            object
dtype: object

In [8]:
df_corp

       corp_code           corp_name stock_code modify_date
0       00434003                  다코       <NA>    20170630
1       00434456                일산약품       <NA>    20170630
2       00430964               굿앤엘에스       <NA>    20170630
3       00432403                한라판지       <NA>    20170630
4       00388953   크레디피아제이십오차유동화전문회사       <NA>    20170630
...          ...                 ...        ...         ...
103854  01525205                정담유통       <NA>    20230228
103855  00646510  미래에셋파트너스사호사모투자전문회사       <NA>    20230228
103856  01184822      미래에셋파트너스9호사모투자       <NA>    20230228
103857  00755252                 시니안       <NA>    20230228
103858  00227582               청호나이스       <NA>    20230228

[103859 rows x 4 columns]

In [9]:
# 파일 저장
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/company/"
df_corp.to_csv(path_dir + 'corp_codes_all.csv', index=False)