### 기업개황정보 전체

In [1]:
import pandas as pd
# 데이터 Loading
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/company/"
df = pd.read_csv(path_dir + 'corp_info_all.csv', dtype=object)
print(df.shape[0])

5367

* 기업개황정보 오류 Check

In [2]:
# 업종코드 5자리 체크
df[df['induty_code'].str.len() != 5]

Empty DataFrame
Columns: [status, message, corp_code, corp_name, corp_name_eng, stock_name, stock_code, ceo_nm, corp_cls, jurir_no, bizr_no, adres, hm_url, ir_url, phn_no, fax_no, induty_code, est_dt, acc_mt]
Index: []

In [3]:
df[df['induty_code'].isna()]

Empty DataFrame
Columns: [status, message, corp_code, corp_name, corp_name_eng, stock_name, stock_code, ceo_nm, corp_cls, jurir_no, bizr_no, adres, hm_url, ir_url, phn_no, fax_no, induty_code, est_dt, acc_mt]
Index: []

In [18]:
# induty_code 자리수(길이) 5가 아닌 것들 삭제  (잘못 저장한 자료들)
df.drop(df[df['induty_code'].str.len() != 5].index, inplace=True)

In [19]:
df.shape

(96885, 19)

In [20]:
# 파일 저장 위치
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/company/"
df.to_csv(path_dir + 'corp_info_all.csv', index=False)

In [12]:
import pandas as pd
# 데이터 Loading
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/company/purged/"
df_test = pd.read_csv(path_dir + 'corp_info_20240113_130743.csv', dtype=object)
print(df_test.shape[0])

552

In [13]:
df_test['induty_code'] = df_test['induty_code'].str.zfill(5)

In [14]:
df_test

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00907484,동양플랜트건설(주),Tong Yang Magic,동양플랜트건설,NaN,박종복,E,1101114710441,NaN,서울특별시 영등포구 국제금융로2길 24 (여의도동),NaN,NaN,02-6150-7000,02-6150-7159,29173,20111019,12
1,000,정상,00610436,(주)오리엔트엠지,orientmg,오리엔트엠지,NaN,김득영,E,1101111642796,1098156135,서울특별시 구로구 구로동 212-16 벽산디지털단지 1차 803호,www.orientmg.com,NaN,1600-5580,02-6204-2510,04659,19990129,12
2,000,정상,01007198,트루프렌드학운제삼차 유한회사,"Truefriend Hakun the 3rd Co., Ltd.",트루프렌드학운제삼차,NaN,정종국,E,1101140142080,1078813478,서울특별시 영등포구 의사당대로 88 (여의도동),NaN,NaN,02-3276-6656,02-3276-5985,00064,20140227,03
3,000,정상,01148875,주식회사 스마트이앤씨,"Co.,Ltd. Smart Engineering&Consulting",스마트이앤씨,NaN,김범수,E,1651110012185,3168123421,충청남도 태안군 태안읍 동문3길 3 302호(동문리),NaN,NaN,041-674-9887,041-674-2114,41112,20140101,12
4,000,정상,00466136,덕평랜드(주),"Deok Pyeong Land Co., LTD.",덕평랜드,NaN,이춘배,E,1344110024149,1268172367,경기도 이천시 마장면 덕이로154번길 287-76,-,NaN,031-634-9200,031-634-9026,68112,20030617,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,000,정상,01453573,비엔나로즈 주식회사,.,비엔나로즈,NaN,이옥란,E,1101117146502,7458601334,"서울특별시 영등포구 여의대로 60 (여의도동, NH투자증권빌딩)",NaN,NaN,027806104,NaN,00649,20190621,03
548,000,정상,00215815,경동산업 주식회사,"KYUNG DONG INOUSTRIAL CO., LTD",경동산업,NaN,여 휘 동,E,1147110004123,1288105020,경기도 파주시 광탄면 용미리 509,Kyang-dang.co.kr,NaN,031)946-0922,031)946-0923,28909,19870701,12
549,000,정상,01375390,(주)대석프로토,"Daesuk Proto Co.,Ltd.",대석프로토,NaN,오판세,E,1348110032194,1248151876,경기도 화성시 남양읍 주석로 169 (북양리) (주)대석프로토,www.dsproto.com/,NaN,031-356-6822,031-356-6825,25913,19970920,12
550,000,정상,00652821,(주)디지로그디스플레이,"DIGILOGDISPLAY Co., Ltd.",디지로그디스플레이,NaN,김진해,E,1341110128426,1388127303,경기도 안양시 동안구 호계동 898-43,www.digilogdisplay.com,NaN,031-477-1114,031-477-5514,02629,20050422,12
551,000,정상,01634743,(주)케이씨타운,kctown,케이씨타운,NaN,조원국,E,1701110607012,3128800478,대구광역시 수성구 고모로26길 1 (가천동),NaN,NaN,0537105500,NaN,00070,20160615,12

In [35]:
import os
import pandas as pd

# 파일 저장 위치
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/company/purged/"
file_list = os.listdir(path_dir)

df_all = pd.DataFrame()    
for file_name in file_list:
    if file_name.startswith('corp_info_'):            
        df = pd.read_csv(path_dir + file_name, dtype=object)
        df_all = pd.concat([df_all, df])
    
df_all.drop_duplicates(subset=['corp_code'], keep='first', inplace=True, ignore_index=True)
df_all['induty_code'] = df_all['induty_code'].str.zfill(5)            
df_all.to_csv(path_dir + 'corp_info_all_test.csv', index=False)

In [37]:
df_all[df_all['induty_code'].isna()]

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
571,000,정상,00267100,(주)코디라인,NaN,코디라인,NaN,박영수,E,1101111838551,2118697993,서울특별시 강남구 신사동 540-11 한국합성빌딩 7층,NaN,NaN,(02)543-1542,NaN,NaN,19991228,12
789,000,정상,00244011,(주)쟈스덱,JASSTECH,쟈스덱,NaN,원한수,E,1101110681828,2048118324,서울특별시 동대문구 용두동 238-80,www.jasstech.com,NaN,02-920-0113,02-953-2004,NaN,NaN,12
1303,000,정상,00222772,진우건설(주),NaN,진우건설,NaN,이문조,E,1901110005478,6088107000,경상남도 창원시 마산합포구 오동동 316-7,NaN,NaN,0551-243-1777,0551-42-5855,NaN,NaN,NaN
1389,000,정상,00264468,(주)인맥스티앤티,NaN,인맥스티앤티,NaN,김승우,E,NaN,2148643392,서울특별시 서초구 서초동 1603-66,NaN,NaN,02-521-5720,NaN,NaN,NaN,12
1758,000,정상,00265184,죠인트산업(주),NaN,죠인트산업,NaN,노시근,E,1101110921232,2298117756,서울특별시 서초구 양재동 20-34,NaN,NaN,02)579-0055,NaN,NaN,NaN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94351,000,정상,00145765,(주)익산,NaN,익산,NaN,감경철,E,1101110268816,2148102926,서울특별시 서초구 서초동 1343,NaN,NaN,02 -552 -1110,02-552-1107,NaN,NaN,NaN
95300,000,정상,00263557,신동해프라자,NaN,신동해프라자,NaN,김정하,E,1447110003864,2228104740,강원도 동해시 천곡동 941,NaN,NaN,033-535-0065,NaN,NaN,NaN,12
95720,000,정상,00190224,새한철강(주),NaN,새한철강,NaN,남재희,E,2001110007067,4098104935,광주광역시 북구 중흥동 646-3,NaN,NaN,062 -525 -1141,NaN,NaN,NaN,NaN
96003,000,정상,00157797,한국산업리스(주),NaN,한국산업리스,NaN,NaN,E,1101110137558,2028150051,서울특별시 중구 다동 140(산업리스B/D),NaN,NaN,02-3160-114,02-3160-774-9,NaN,NaN,NaN
96629,000,정상,00249706,대홍전기(주),NaN,대홍전기,NaN,유동대,E,1801110059138,6218114071,부산광역시 기장군 정관면 용수리 1047-4,NaN,NaN,051-728-5533,051-302-5513,NaN,NaN,12

In [36]:
df_all[df_all['induty_code'].str.len() != 5]

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
571,000,정상,00267100,(주)코디라인,NaN,코디라인,NaN,박영수,E,1101111838551,2118697993,서울특별시 강남구 신사동 540-11 한국합성빌딩 7층,NaN,NaN,(02)543-1542,NaN,NaN,19991228,12
789,000,정상,00244011,(주)쟈스덱,JASSTECH,쟈스덱,NaN,원한수,E,1101110681828,2048118324,서울특별시 동대문구 용두동 238-80,www.jasstech.com,NaN,02-920-0113,02-953-2004,NaN,NaN,12
1303,000,정상,00222772,진우건설(주),NaN,진우건설,NaN,이문조,E,1901110005478,6088107000,경상남도 창원시 마산합포구 오동동 316-7,NaN,NaN,0551-243-1777,0551-42-5855,NaN,NaN,NaN
1389,000,정상,00264468,(주)인맥스티앤티,NaN,인맥스티앤티,NaN,김승우,E,NaN,2148643392,서울특별시 서초구 서초동 1603-66,NaN,NaN,02-521-5720,NaN,NaN,NaN,12
1758,000,정상,00265184,죠인트산업(주),NaN,죠인트산업,NaN,노시근,E,1101110921232,2298117756,서울특별시 서초구 양재동 20-34,NaN,NaN,02)579-0055,NaN,NaN,NaN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94351,000,정상,00145765,(주)익산,NaN,익산,NaN,감경철,E,1101110268816,2148102926,서울특별시 서초구 서초동 1343,NaN,NaN,02 -552 -1110,02-552-1107,NaN,NaN,NaN
95300,000,정상,00263557,신동해프라자,NaN,신동해프라자,NaN,김정하,E,1447110003864,2228104740,강원도 동해시 천곡동 941,NaN,NaN,033-535-0065,NaN,NaN,NaN,12
95720,000,정상,00190224,새한철강(주),NaN,새한철강,NaN,남재희,E,2001110007067,4098104935,광주광역시 북구 중흥동 646-3,NaN,NaN,062 -525 -1141,NaN,NaN,NaN,NaN
96003,000,정상,00157797,한국산업리스(주),NaN,한국산업리스,NaN,NaN,E,1101110137558,2028150051,서울특별시 중구 다동 140(산업리스B/D),NaN,NaN,02-3160-114,02-3160-774-9,NaN,NaN,NaN
96629,000,정상,00249706,대홍전기(주),NaN,대홍전기,NaN,유동대,E,1801110059138,6218114071,부산광역시 기장군 정관면 용수리 1047-4,NaN,NaN,051-728-5533,051-302-5513,NaN,NaN,12