### 기업개황정보 전체

* 기업개황정보 전체 자료를 csv 파일로 저장

In [3]:
import os
import pandas as pd

# 파일 저장 위치
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/company/"
file_list = os.listdir(path_dir)

df_all = pd.DataFrame()    
for file_name in file_list:
    if 'corp_info_' in file_name and not file_name.endswith('_all.csv'):
        df = pd.read_csv(path_dir + file_name, dtype=object)
        df_all = pd.concat([df_all, df])
    
df_all.drop_duplicates(subset=['corp_code'], keep='first', inplace=True, ignore_index=True)
df_all['induty_code'] = df_all['induty_code'].str.zfill(5)                
df_all.to_csv(path_dir + 'corp_info_all.csv', index=False)

* 기업개황정보 검색
> induty_code : 업종코드(한국표준산업분류) 5자리. 제조업: 앞 두자리가 10~34

In [1]:
import pandas as pd
# 데이터 Loading
path_dir = "D:/PythonProject/data-gatherer/dart_fs_notes/company/"
df = pd.read_csv(path_dir + 'corp_info_all.csv', dtype=object)
print(df.shape[0])

103859

In [3]:
df.head(1)

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00907484,동양플랜트건설(주),Tong Yang Magic,동양플랜트건설,NaN,박종복,E,1101114710441,NaN,서울특별시 영등포구 국제금융로2길 24 (여의도동),NaN,NaN,02-6150-7000,02-6150-7159,29173,20111019,12

In [4]:
df[df['corp_name'].str.contains('삼익THK')]

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
18989,000,정상,00127802,삼익THK(주),"SAMICK THK CO.,LTD",삼익THK,004380,"진영환, 진주완",Y,1701110000935,5038110869,대구광역시 달서구 성서동로 163,www.samickthk.co.kr,NaN,053-665-7000,053)586-3132,29141,19651005,12

In [3]:
# 제조업
df[df['induty_code'].str[0:2].between('10', '34', inclusive='both')]

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
1,000,정상,00145136,유한킴벌리 주식회사,Yuhan-Kimberly,유한킴벌리,NaN,진재승,E,1101110021462,1208111436,"서울특별시 송파구 올림픽로 300 (신천동, 롯데월드타워앤드롯데월드몰) 29층",www.yuhan-kimberly.co.kr,NaN,6411-0100,3213-7971,17902,19700330,12
2,000,정상,00609005,에스엘피주식회사,song lim polymer.co.ltd,에스엘피,NaN,김구택,E,2046110021047,4168147228,전라남도 광양시 광양읍 익신리 669,www.slpolymers.com,NaN,061-761-1661,061-761-1662,20202,20050114,12
4,000,정상,00453628,주식회사 경인기계,"KYUNG IN MACHINARY co.,Ltd",경인기계,NaN,구제병,E,1201110305070,1218157736,인천광역시 중구 항동7가 53-1,www.kyunginct.co.kr,NaN,032-885-9001,032-885-9003,29172,20021220,12
19,000,정상,00918879,거성해운 주식회사,"GEO SEONG SHIPPING & ENGINEERING CO.,LTD",거성해운,NaN,원경희,E,1949110000080,6128100350,경상남도 거제시 장승포동 689,NaN,NaN,0556816181,0556816874,31114,19750313,12
21,000,정상,00300414,주식회사 디와이,"D.Y CO.,LTD.",디와이,NaN,김 상 순,E,1101111546401,1098154059,경기도 김포시 대곶면 초원지리 155-8,dyplastic.co.kr,NaN,031-988-7100,031-987-2731,22222,19980630,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68393,000,정상,00928885,(주)해주,"HAE JOO DO., LTD",해주,NaN,강 수 범,E,1912110015648,6128130591,경상남도 고성군 상리면 부포리 384-1,NaN,NaN,055-736-0088,070-4334-8703,31114,20080908,12
68394,000,정상,00587411,동천아이디에스(주),dongchun-ids.co.ltd,동천아이디에스,NaN,오일근,E,1101112965957,2118746816,경기도 동두천시 상패동 331,www.eugenes.co.kr,NaN,02-3704-5715,02-3704-5729,23322,20040304,12
68396,000,정상,01124097,씨케이에프에스티(주),"CKFST CO., LTD.",씨케이에프에스티,NaN,최영렬,E,1348110064113,1248188728,충청남도 천안시 서북구 성환읍 와우1길 14,www.ckfst.com,NaN,041-588-1336,041-588-1337,29172,20011001,09
68400,000,정상,00530556,(주)예스티,"YEST Co.,Ltd.",예스티,122640,"장동복, 강임수 각자대표이사",K,1348110048183,1248170534,경기도 평택시 진위면 마산12로 27 예스티,www.yest.co.kr,NaN,031-612-3337,031-612-3399,29271,20000306,12
68401,000,정상,00912468,(주)영우자원,YOUNGWOO MINERAL RESOURCES LTD,영우자원,NaN,이영덕,E,1511110038210,3038159151,충청북도 충주시 목벌안길 26,www.ywmires.com,NaN,043-848-0502,043-848-0510,23993,20100721,12