In [57]:
import pandas as pd
import traceback
import OpenDartReader
api_key = 'f2e08d4ed3de0ba3d5cbf59c04c223e02b1751a2'
dart = OpenDartReader(api_key)

In [72]:
# reports = dart.list('005930', start='2021-01-01', end='2021-12-31', kind='A', final=True)
# reports = dart.list('037950', start='2021-04-01', end='2021-04-01', kind='A', final=True)
# reports = dart.list('192440', start='2021-04-01', end='2021-04-01', kind='A', final=True)
reports = dart.list('114120', start='2021-04-01', end='2021-04-01', kind='A', final=True)

In [73]:
reports

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00618401,크루셜텍,114120,K,[기재정정]사업보고서 (2020.12),20210401003051,크루셜텍,20210401,연

In [74]:
subreports = []
str_expr = "title.str.contains('5. 재무제표 주석')"
for i, row in reports.iterrows():
    if '사업보고서' in row['report_nm']:
        rpt_num = row['rcept_no']
        rpt_url = 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=' + rpt_num
        df_rpt = dart.sub_docs(rpt_num)
        rpt_data = df_rpt.query(str_expr)       # data frame
        rpt_title = rpt_data.iloc[0]['title']
        rpt_notes_url = rpt_data.iloc[0]['url']
        subreports.append({'rpt_num' : rpt_num, 'stock_code' : row['stock_code'], 'corp_name' : row['corp_name'], 'rpt_name' : row['report_nm'], 'rpt_url' : rpt_url,
                           'rpt_title' : rpt_title, 'rpt_notes_url' : rpt_notes_url})

In [75]:
subreports

[{'rpt_num': '20210401003051',
  'stock_code': '114120',
  'corp_name': '크루셜텍',
  'rpt_name': '[기재정정]사업보고서 (2020.12)',
  'rpt_url': 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20210401003051',
  'rpt_title': '5. 재무제표 주석',
  'rpt_notes_url': 'http://dart.fss.or.kr/report/viewer.do?rcpNo=20210401003051&dcmNo=7952903&eleId=19&offset=1002390&length=350655&dtd=dart3.xsd'}]

In [76]:
def str2num(x):
    if "," in x:
        x = x.replace(",","")
    if x.startswith("(") and x.endswith(")"):
        x = x.lstrip("(")
        x = x.rstrip(")")
        float_num = float(x) * (-1)
    else:
        x = x.lstrip("(")
        x = x.rstrip(")")     
        float_num = float(x)
    return float_num

In [79]:
data_list = []
for r in subreports:
    try:
        url = r['rpt_notes_url']
        df_data = pd.read_html(url)
        val_a = val_b = None
        for df in df_data:
            col = df.columns[0]
            if isinstance(col, str):
                if col.replace(" ","") == '구분':
                    row = df.shape[0]
                    for i in range(0, row):
                        item = str(df.iloc[i,0])
                        if item.__contains__('확정급여채무의 현재가치'):
                            # print(i, type(df.iloc[i,1]), df.iloc[i,1])
                            val_a = str2num(str(df.iloc[i,1]))
                        elif item.__contains__('사외적립자산의 공정가치'):
                            # print(i, type(df.iloc[i,1]), df.iloc[i,1])                            
                            val_b = str2num(str(df.iloc[i,1]))
                        else:
                            continue              
        data_list.append({'corp_name' : r['corp_name'], 'stock_code' : r['stock_code'], 'rpt_num' : r['rpt_num'], 'rpt_name' : r['rpt_name'], 
                        'val_a' : val_a, 'val_b' : val_b})
    except Exception as e:
        print(r['rpt_num'])
        print(r['rpt_url'])
        print(r['rpt_notes_url'])
        err_msg = traceback.format_exc()
        print(err_msg)

In [80]:
data_list

[{'corp_name': '크루셜텍',
  'stock_code': '114120',
  'rpt_num': '20210401003051',
  'rpt_name': '[기재정정]사업보고서 (2020.12)',
  'val_a': None,
  'val_b': None}]