# 한국은행 경제통계시스템 Open API
+ 작성: 임경호
+ 한국은행 경제통계 Open API https://ecos.bok.or.kr/api/#/

### 서비스 통계 목록

In [8]:
import requests
import json
import pandas as pd

api_key = 'T4GS4G5ZJSQI9HOTYV64'

service_name = 'StatisticTableList'        # 서비스 통계 목록
req_type = 'json'
req_start, req_end = '1', '1000'
stat_code = ''                      # 통계표코드. 지정하지 않으면 전체 가져옴

url = f'http://ecos.bok.or.kr/api/{service_name}/{api_key}/{req_type}/kr/{req_start}/{req_end}'

response = requests.get(url)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")
    
jo = json.loads(response.text)
df_result = pd.json_normalize(jo[service_name]['row'])

In [39]:
df_result.shape

(820, 6)

+ 결과값
  - P_STAT_CODE	: 상위통계표코드
  - STAT_CODE : 통계표코드	
  - STAT_NAME : 통계명	
  - CYCLE : 주기(년, 분기, 월)	
  - SRCH_YN	: 검색가능여부
  - ORG_NAME : 출처

In [12]:
df_result.head(3)

  P_STAT_CODE   STAT_CODE    STAT_NAME CYCLE SRCH_YN ORG_NAME
0           *  0000000001     1. 통화/금융  None       N     None
1  0000000001  0000000002  1.1. 통화/유동성  None       N     None
2  0000000002  0000000003  1.1.1. 본원통화  None       N     None

In [34]:
df_result[df_result.STAT_NAME.str.contains("환율")]

,P_STAT_CODE,STAT_CODE,STAT_NAME,CYCLE,SRCH_YN,ORG_NAME
431,*,0000000176,3. 환율/통관수출입/외환보유액,None,N,None
432,0000000176,0000000177,3.1. 환율,None,N,None
433,0000000177,0000000178,3.1.1. 일일환율,None,N,None
434,0000000178,731Y001,3.1.1.1. 주요국 통화의 대원화환율,D,Y,서울외국환중개
435,0000000178,731Y002,3.1.1.2. 주요국 통화의 대미달러환율,D,Y,서울외국환중개
436,0000000178,731Y003,"3.1.1.3. 원화의 대미달러, 원화의 대위안/대엔 환율",D,Y,한국은행
437,0000000177,0000000182,3.1.2. 평균환율/기말환율,None,N,None
438,0000000182,731Y004,3.1.2.1. 주요국 통화의 대원화환율,M,Y,한국은행
439,0000000182,731Y005,3.1.2.2. 주요국 통화의 대미달러환율,M,Y,한국은행
440,0000000182,731Y006,"3.1.2.3. 원화의 대미달러, 원화의 대위안/대엔 환율",M,Y,한국은행
840,0000000396,0000000704,9.2.3. 북한의 시장물가와 환율,None,N,None
842,0000000704,252Y002,9.2.3.2. 시장환율,Q,Y,한국은행

In [41]:
df_result.head(10)

,P_STAT_CODE,STAT_CODE,STAT_NAME,CYCLE,SRCH_YN,ORG_NAME
0,*,0000000001,1. 통화/금융,None,N,None
1,0000000001,0000000002,1.1. 통화/유동성,None,N,None
2,0000000002,0000000003,1.1.1. 본원통화,None,N,None
3,0000000003,0000000004,1.1.1.1. 본원통화 구성내역,None,N,None
4,0000000004,102Y004,"1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)",M,Y,None
5,0000000004,102Y002,"1.1.1.1.2. 본원통화 구성내역(평잔, 원계열)",M,Y,None
6,0000000004,102Y003,"1.1.1.1.3. 본원통화 구성내역(말잔, 계절조정계열)",M,Y,None
7,0000000004,102Y001,"1.1.1.1.4. 본원통화 구성내역(말잔, 원계열)",M,Y,한국은행
8,0000000002,0000000005,1.1.2. M1(협의통화),None,N,None
9,0000000005,0000000006,1.1.2.1. M1(협의통화) 상품별 구성내역,None,N,None

In [42]:
df_result.to_excel('result/'+service_name+'.xlsx')

### 100대 통계지표

In [1]:
import requests
import json
import pandas as pd

api_key = 'T4GS4G5ZJSQI9HOTYV64'

service_name = 'KeyStatisticList'        # 100대 통계지표
req_type = 'json'
req_start, req_end = '1', '100'

url = f'http://ecos.bok.or.kr/api/{service_name}/{api_key}/{req_type}/kr/{req_start}/{req_end}'

response = requests.get(url)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")
    
jo = json.loads(response.text)
df_result = pd.json_normalize(jo[service_name]['row'])

In [7]:
df_result

   CLASS_NAME     KEYSTAT_NAME DATA_VALUE     CYCLE   UNIT_NAME
0        시장금리        한국은행 기준금리        3.5  20240422          %
1        시장금리         콜금리(익일물)      3.519  20240424          %
2        시장금리     KORIBOR(3개월)       3.56  20240424          %
3        시장금리       CD수익률(91일)       3.56  20240424          %
4        시장금리    통안증권수익률(364일)      3.432  20240424          %
..        ...              ...        ...       ...         ...
95     부동산 가격         주택매매가격지수       95.8    202403  2021.6=100
96     부동산 가격         주택전세가격지수       92.6    202403  2021.6=100
97     부동산 가격      지가변동률(전기대비)      0.134    202402          %
98        원자재  국제유가(Dubai, 현물)      86.63    202403         달러
99        원자재                금    2162.35    202403         달러

[100 rows x 5 columns]

In [2]:
df_result.shape

(100, 5)

+ 결과
  - CLASS_NAME : 통계그룹명
  - KEYSTAT_NAME : 통계명
  - DATA_VALUE : 값
  - CYCLE : 통계의 최근수록 시점
  - UNIT_NAME : 단위

In [4]:
df_result['CLASS_NAME'].value_counts()

CLASS_NAME
시장금리          8
생산            7
투자            7
성장률           5
국제수지          5
고용            4
예금/대출금        4
통화량           4
환율            4
주식            4
소비자/생산자 물가    4
통관수출입         4
부동산 가격        3
대외채권/채무       3
인구            3
노동            3
심리지표          3
기업경영지표        3
소비            3
GDP대비 비율      3
소득분배지표        2
가계            2
여수신금리         2
경기순환지표        2
소득            2
수출입 물가        2
채권            2
원자재           2
Name: count, dtype: int64

In [6]:
df_result.to_excel('output/'+service_name+'.xlsx')

### 통계조회 (모듈화)

In [21]:
def bok_statistic_search(statcode, freq, period_start, period_end, item, req_start, req_end):
    api_key = 'T4GS4G5ZJSQI9HOTYV64'
    service_name = 'StatisticSearch'
    req_type = 'json'
    url = f'http://ecos.bok.or.kr/api/{service_name}/{api_key}/{req_type}/kr/{req_start}/{req_end}/{statcode}/{freq}/{period_start}/{period_end}/{item}'
    response = requests.get(url)
    if response.status_code != 200:     # URL GET '200 정상'
        return None
    jo = json.loads(response.text)
    result = pd.json_normalize(jo[service_name]['row'])
    return result

In [26]:
# 통계조회: 주요국 통화의 대원화환율 - 원/미국달러(매매기준율)
df_result1 = bok_statistic_search(statcode='731Y001', freq='D', period_start='20230101', period_end='20230630', item='0000001' , req_start='1', req_end='200')
# 통계조회: 소비자물가지수
df_result2 = bok_statistic_search(statcode='901Y009', freq='M', period_start='200001', period_end='202005', item='0' , req_start='1', req_end='10000')

KeyError: 'StatisticSearch'

In [24]:
df_result1.head(2)

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,WGT,TIME,DATA_VALUE
0,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20230102,1267.3
1,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20230103,1268.9

In [25]:
df_result2.head(2)

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,WGT,TIME,DATA_VALUE
0,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,1000,200001,62.456
1,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,1000,200002,62.647

In [39]:
statcode='731Y001'
freq='D'
period_start='20240401'
period_end='20240425'
item='0000001'
req_start='1'
req_end='10000'

api_key = 'T4GS4G5ZJSQI9HOTYV64'
service_name = 'StatisticSearch'
req_type = 'json'
url = f'http://ecos.bok.or.kr/api/{service_name}/{api_key}/{req_type}/kr/{req_start}/{req_end}/{statcode}/{freq}/{period_start}/{period_end}/{item}'
response = requests.get(url)
jo = json.loads(response.text)
result = pd.json_normalize(jo[service_name]['row'])

In [40]:
result

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,WGT,TIME,DATA_VALUE
0,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240401,1347.4
1,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240402,1347.1
2,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240403,1353
3,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240404,1349.1
4,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240405,1346.8
5,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240408,1351.8
6,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240409,1353.6
7,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240411,1354.4
8,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240412,1363.7
9,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240415,1371.6
10,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240416,1383.7
11,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240417,1395.3
12,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240418,1386.3
13,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240419,1375.9
14,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240422,1385
15,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240423,1380.6
16,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240424,1377.9
17,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,None,20240425,1370

### 통계조회: 주요국 통화의 대원화환율

In [83]:
import requests
import json
import pandas as pd

api_key = 'T4GS4G5ZJSQI9HOTYV64'

service_name = 'StatisticSearch'
statcode = '731Y001'
req_type = 'json'
freq, start, end = 'D', '20230101', '20230630'
# item = ''     # 지정하지 않으면 전체 대상
item = '0000001'    # 원/미국달러(매매기준율)

url = f'http://ecos.bok.or.kr/api/{service_name}/{api_key}/{req_type}/kr/1/10000/{statcode}/{freq}/{start}/{end}/{item}'

response = requests.get(url)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")
    
jo = json.loads(response.text)
# print(jo['RESULT']['CODE'])
df_result = pd.json_normalize(jo[service_name]['row'])

In [84]:
df_result.shape

(123, 13)

In [85]:
df_result.head()

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,TIME,DATA_VALUE
0,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,20230102,1267.3
1,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,20230103,1268.9
2,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,20230104,1272.1
3,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,20230105,1274.7
4,731Y001,3.1.1.1. 주요국 통화의 대원화환율,0000001,원/미국달러(매매기준율),None,None,None,None,None,None,원,20230106,1270.3

In [86]:
df_result.to_excel('result/'+service_name+'_'+statcode+'.xlsx')

### 통계조회: 소비자물가지수

In [81]:
import requests
import json
import pandas as pd

api_key = 'T4GS4G5ZJSQI9HOTYV64'

service_name = 'StatisticSearch'
statcode = '901Y009'        # 소비자물가지수
req_type = 'json'
freq, start, end, item = 'M', '200001', '202005', '0'

url = f'http://ecos.bok.or.kr/api/{service_name}/{api_key}/{req_type}/kr/1/10000/{statcode}/{freq}/{start}/{end}/{item}'

response = requests.get(url)
if response.status_code != 200:     # URL GET '200 정상'
    print("URL GET Error")
    
jo = json.loads(response.text)
df_result = pd.json_normalize(jo[service_name]['row'])

In [82]:
df_result.shape

(245, 13)

In [56]:
df_result

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,TIME,DATA_VALUE
0,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,200001,62.456
1,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,200002,62.647
2,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,200003,62.962
3,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,200004,62.709
4,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,200005,62.393
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,202001,100.09
241,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,202002,100.16
242,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,202003,99.94
243,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,202004,99.5
244,901Y009,4.2.1. 소비자물가지수,0,총지수,None,None,None,None,None,None,2020=100,202005,99.44

In [57]:
df_result.to_excel('result/'+service_name+'_'+statcode+'.xlsx')