# 1. 가장 최신의 법정동, 행정동 자료 다운로드
#### '행정기관(행정동) 및 관할구역(법정동) 변경내역' 중 가장 최신 자료를 다운
###### https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardList.do?bbsId=BBSMSTR_000000000052

압축 파일 중, mdm.city 테이블 생성을 위해 **KIKmix** 로 시작하는 파일만 사용합니다. (법정동/ 행정동 코드 모두 나와 있는 자료)

In [1]:
#라이브러리 설치

import pandas as pd
from pandas.io.json import json_normalize
import requests
import os
from tqdm.notebook import tqdm
import time
import pprint
import json
import pymysql
import csv
from urllib.parse import quote
from sqlalchemy import create_engine
import sqlalchemy
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [2]:
now = datetime.now()
print("사용시간 :" , now)
before_1_months = now + relativedelta(months=-1)
print("1달 전 :", before_1_months)#한달 전
before_month=before_1_months.strftime("%Y%m")
print("1달전 년월 : ",before_month)

사용시간 : 2023-06-22 14:34:20.511379
1달 전 : 2023-05-22 14:34:20.511379
1달전 년월 :  202305

In [3]:
#파일 경로를 설정
path = 'C:/Users/user/Desktop/인수인계/인수인계_데이터/행정동_법정동/jsocde20230611/KIKmix.20230611.xlsx'

In [4]:
df_code = pd.read_excel(path)
df_code

            행정동코드      시도명  시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0      1100000000    서울특별시   NaN    NaN  1100000000  서울특별시  19880423   NaN
1      1111000000    서울특별시   종로구    NaN  1111000000    종로구  19880423   NaN
2      1111051500    서울특별시   종로구  청운효자동  1111010100    청운동  20081101   NaN
3      1111051500    서울특별시   종로구  청운효자동  1111010200    신교동  20081101   NaN
4      1111051500    서울특별시   종로구  청운효자동  1111010300    궁정동  20081101   NaN
...           ...      ...   ...    ...         ...    ...       ...   ...
21773  5013061000  제주특별자치도  서귀포시    중문동  5013011400    대포동  20060701   NaN
21774  5013061000  제주특별자치도  서귀포시    중문동  5013011800    하원동  20060701   NaN
21775  5013062000  제주특별자치도  서귀포시    예래동  5013011900    색달동  20060701   NaN
21776  5013062000  제주특별자치도  서귀포시    예래동  5013012000    상예동  20060701   NaN
21777  5013062000  제주특별자치도  서귀포시    예래동  5013012100    하예동  20060701   NaN

[21778 rows x 8 columns]

In [5]:
update_date = path[-13:-5]
print("업데이트 일자 : ",update_date) #업데이트 날짜 기록하기 위해 파일 경로의 일부를 추출

업데이트 일자 :  20230611

In [6]:
#법정동, 행정동을 나타낸 테이블 생성 > 대구, 경산시, 고령군, 동명면에 한정
df_daegu_table = df_code[df_code['시도명'].str.contains('대구광역시')]
df_gyeongsan_table = df_code[df_code['시군구명']=='경산시']
df_goryeong_table = df_code[df_code['시군구명']=='고령군']
df_dongmyeong_table = df_code[df_code['읍면동명']=='동명면']

df_code_table = pd.concat([df_daegu_table,df_gyeongsan_table,df_goryeong_table,df_dongmyeong_table],axis = 0) #데이터 결합
df_code_table.reset_index(inplace= True, drop=  True)
df_code_table['업데이트일자'] = update_date

#순서 변경
df_code_table=df_code_table[['업데이트일자','행정동코드','시도명','시군구명','읍면동명','법정동코드','동리명']]
df_code_table['행정동코드'] =df_code_table['행정동코드'].apply(str)
df_code_table['법정동코드'] =df_code_table['법정동코드'].apply(str)
df_code_table

       업데이트일자       행정동코드    시도명 시군구명 읍면동명       법정동코드    동리명
0    20230611  2700000000  대구광역시  NaN  NaN  2700000000  대구광역시
1    20230611  2711000000  대구광역시   중구  NaN  2711000000     중구
2    20230611  2711051700  대구광역시   중구  동인동  2711010100  동인동1가
3    20230611  2711051700  대구광역시   중구  동인동  2711010200  동인동2가
4    20230611  2711051700  대구광역시   중구  동인동  2711010300  동인동3가
..        ...         ...    ...  ...  ...         ...    ...
691  20230611  4785032000   경상북도  칠곡군  동명면  4785032034    남원리
692  20230611  4785032000   경상북도  칠곡군  동명면  4785032035    득명리
693  20230611  4785032000   경상북도  칠곡군  동명면  4785032036    기성리
694  20230611  4785032000   경상북도  칠곡군  동명면  4785032037    구덕리
695  20230611  4785032000   경상북도  칠곡군  동명면  4785032038    봉암리

[696 rows x 7 columns]

# 2. 세대수 데이터 추출을 위한 법정동 코드 전처리

Open API를 사용하기 위해 **법정동 코드를 전처리**하는 과정입니다.  
- 해당 API는 법정동코드를 입력하였을 때, 값이 나오도록 되어 있습니다.  
- API사용 할 때, **구, 시, 리**의 법정동 코드를 제거하고 **동,읍,면** 법정동 코드만 남겨둬야합니다.

법정동 코드는 총 10자리로 10자리의 구성은 아래와 같습니다.  
 - 시도(2) + 시군구(3) + 읍면동(3) + 리(2)

In [7]:
df_code_table_pre = df_code_table.copy()
#리 데이터 제거
df_code_table_pre['법정동코드'] = df_code_table_pre['법정동코드'].apply(int)
idx2 = df_code_table_pre[(df_code_table_pre['법정동코드']%100)>0].index #작은 법정돈 단위 제거
df_code_table_pre.drop(idx2 , inplace=True) # 
#대구광역시, 대구광역시 수성구, 경산시와 같은 시군군 데이터 제거
df_code_table_pre['법정동코드'] = df_code_table_pre['법정동코드'].apply(str)
idx = df_code_table_pre[df_code_table_pre['법정동코드'].str[-4:] == "0000"].index
df_code_table_pre.drop(idx , inplace=True)
df_code_table_pre.reset_index(inplace=True, drop=True)
df_code_table_pre

       업데이트일자       행정동코드    시도명 시군구명 읍면동명       법정동코드    동리명
0    20230611  2711051700  대구광역시   중구  동인동  2711010100  동인동1가
1    20230611  2711051700  대구광역시   중구  동인동  2711010200  동인동2가
2    20230611  2711051700  대구광역시   중구  동인동  2711010300  동인동3가
3    20230611  2711051700  대구광역시   중구  동인동  2711010400  동인동4가
4    20230611  2711054500  대구광역시   중구  삼덕동  2711010500  삼덕동1가
..        ...         ...    ...  ...  ...         ...    ...
339  20230611  4783034000   경상북도  고령군  다산면  4783034000    다산면
340  20230611  4783035000   경상북도  고령군  개진면  4783035000    개진면
341  20230611  4783036000   경상북도  고령군  우곡면  4783036000    우곡면
342  20230611  4783037000   경상북도  고령군  쌍림면  4783037000    쌍림면
343  20230611  4785032000   경상북도  칠곡군  동명면  4785032000    동명면

[344 rows x 7 columns]

In [8]:
#구 별로 법정동코드를 추출하여 list형식으로 변환
def make_code_list_for_daegu(df,gu_name):
    df_gu= df[df['시군구명']==gu_name]
    list_gu=  df_gu['법정동코드']
    list_gu = list_gu.unique()
    return list_gu

In [9]:
# 각 도시별 법정동 코드 불러오기

#대구광역시
df_daegu_code = df_code_table_pre[df_code_table_pre['시도명'].str.contains('대구광역시')]
df_daegu_code= df_daegu_code.dropna(subset=['읍면동명']) #null값 제거
idx = df_daegu_code[df_daegu_code['법정동코드'].str[-4:] == "0000"].index #리 값 제거
df_daegu_code.drop(idx , inplace=True)

list_daegu_cd =  df_daegu_code['법정동코드']
list_daegu_cd = list_daegu_cd.unique() #대구광역시의 법정동코드

#중간에 오류가 날 수 있어 구별로 나누어 작업 진행
list_daegu_nam_gu_cd =  make_code_list_for_daegu(df_daegu_code,"남구")
list_daegu_dalseo_gu_cd =  make_code_list_for_daegu(df_daegu_code,"달서구")
list_daegu_dalseong_gun_cd =  make_code_list_for_daegu(df_daegu_code,"달성군")
list_daegu_dong_gu_cd =  make_code_list_for_daegu(df_daegu_code,"동구")
list_daegu_buk_gu_cd =  make_code_list_for_daegu(df_daegu_code,"북구")
list_daegu_seo_gu_cd =  make_code_list_for_daegu(df_daegu_code,"서구")
list_daegu_suseong_gu_cd =  make_code_list_for_daegu(df_daegu_code,"수성구")
list_daegu_jung_gu_cd =  make_code_list_for_daegu(df_daegu_code,"중구")

#경산시
df_gyeongsan_code= df_code_table_pre[df_code_table_pre['시군구명']=='경산시'] 
df_gyeongsan_code= df_gyeongsan_code.dropna(subset=['읍면동명'])
list_gyeongsan_cd =  df_gyeongsan_code['법정동코드']
list_gyeongsan_cd = list_gyeongsan_cd.unique()#유일한 값만 남겨둠

#고령군
df_goryeong_code= df_code_table_pre[df_code_table_pre['시군구명']=='고령군']
df_goryeong_code= df_goryeong_code.dropna(subset=['읍면동명'])
list_goryeong_cd =  df_goryeong_code['법정동코드']
list_goryeong_cd = list_goryeong_cd.unique()#유일한 값만 남겨둠

#칠곡군 동명면
df_dongmyeong_code= df_code_table_pre[df_code_table_pre['읍면동명']=='동명면']
list_dongmyeong_cd =  df_dongmyeong_code['법정동코드']
list_dongmyeong_cd = list_dongmyeong_cd.unique()#유일한 값만 남겨둠

In [10]:
#개수 확인 (23년 6월 16일 기준으로 주석 작성)
daegu_len = len(list_daegu_nam_gu_cd)+len(list_daegu_dalseo_gu_cd)+len(list_daegu_dalseong_gun_cd)+len(list_daegu_dong_gu_cd)+len(list_daegu_buk_gu_cd)+len(list_daegu_seo_gu_cd)+len(list_daegu_suseong_gu_cd)+len(list_daegu_jung_gu_cd)
print("대구 : ",daegu_len) #204
print("경산 : ", len(list_gyeongsan_cd)) #36
print("고령 : ", len(list_goryeong_cd)) #8
print("칠곡군 동명면 : ", len(list_dongmyeong_cd)) #1

대구 :  204
경산 :  36
고령 :  8
칠곡군 동명면 :  1

# 3. 법정동, 행정동 매핑 코드 테이블 DB에 저장

형식을 지정한 후 **mdm.city** 테이블에 데이터를 삽입해 줍니다.  
mdm.city는 법정동, 행정동 관련 정보가 있는 테이블 입니다.

In [11]:
df_code_table

       업데이트일자       행정동코드    시도명 시군구명 읍면동명       법정동코드    동리명
0    20230611  2700000000  대구광역시  NaN  NaN  2700000000  대구광역시
1    20230611  2711000000  대구광역시   중구  NaN  2711000000     중구
2    20230611  2711051700  대구광역시   중구  동인동  2711010100  동인동1가
3    20230611  2711051700  대구광역시   중구  동인동  2711010200  동인동2가
4    20230611  2711051700  대구광역시   중구  동인동  2711010300  동인동3가
..        ...         ...    ...  ...  ...         ...    ...
691  20230611  4785032000   경상북도  칠곡군  동명면  4785032034    남원리
692  20230611  4785032000   경상북도  칠곡군  동명면  4785032035    득명리
693  20230611  4785032000   경상북도  칠곡군  동명면  4785032036    기성리
694  20230611  4785032000   경상북도  칠곡군  동명면  4785032037    구덕리
695  20230611  4785032000   경상북도  칠곡군  동명면  4785032038    봉암리

[696 rows x 7 columns]

In [12]:

#변수
user = "kjh" #사용자 이름 (수정)
pwd = "1234" #비밀번호 (수정)
host = "130.1.112.100" #호스트명/IP (수정)
port = 3306 #포트번호 (고정값)
db= "mdm" #사용할 데이터베이스 (필요시 수정)

db_url = f'mysql+pymysql://{user}:{quote(pwd)}@{host}:{port}/{db}' #경로 설정
engine = create_engine(db_url,encoding='utf-8') #연결

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()

#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding='utf-8')
conn = engine.connect()

#변수 타입 설정
dtypesql_date = {'업데이트일자':sqlalchemy.types.CHAR(8), 
                '행정동코드':sqlalchemy.types.CHAR(10), #고정
                '시도명':sqlalchemy.types.VARCHAR(5), #가변
                '시군구명':sqlalchemy.types.VARCHAR(10), #가변
                '읍면동명':sqlalchemy.types.VARCHAR(10),#고정
                '법정동코드':sqlalchemy.types.CHAR(10), #가변
                '동리명':sqlalchemy.types.VARCHAR(7) #가변
            }
#삽입
df_code_table.to_sql(name='city', con=engine, if_exists='replace', index=False,dtype=dtypesql_date) 

conn.close() #콘솔 종료

# 4. Open API를 이용한 세대수 데이터 추출

In [13]:
import warnings
from time import sleep
warnings.filterwarnings(action='ignore')

In [14]:
#법정동 코드를 이용한 행정동/법정동별 세대수를 API로 구하는 함수
def make_hh_data(df,list_cd,month):
    for i in tqdm(list_cd): 
        url = 'https://apis.data.go.kr/1741000/stdgPpltnHhStus/selectStdgPpltnHhStus?serviceKey=IVgu%2FZBjA6hpLryyEOpySC2RhogOhaJIUqlXN8Uyj3Gxw4s3dX0qMxfgXMTLl60%2Fs2EYAMUsyyzTqwVOnjoIhg%3D%3D&stdgCd='+i+'&srchFrYm='+month+'&srchToYm='+month+'&lv=4&regSeCd=1&type=json&numOfRows=8000&pageNo=1'
        response = requests.get(url,verify=False)
        #데이터 값 출력해보기
        contents = response.text
        json_ob = json.loads(contents)
        body = json_ob['Response']['items']['item']
        dataframe = pd.json_normalize(body)
        df = pd.concat([df,dataframe],axis = 0) #데이터 결합
    return df

#시군구별 세대수를 알아보는 함수 >> 시군구 자료와 데이터 비교
def know_hhcnt(df):
    df['hhCnt'] =df['hhCnt'].astype(str).astype(int)
    df['femlNmprCnt'] =df['femlNmprCnt'].astype(str).astype(int)
    df['totNmprCnt'] =df['totNmprCnt'].astype(str).astype(int)
    df['maleNmprCnt'] =df['maleNmprCnt'].astype(str).astype(int)
    know_hhcnt = df.groupby('sggNm').sum()
    return know_hhcnt

#기존의 표와 같이 보기 편하게 순서 변경 및 컬럼 변경
def name_sort_change(df):
    #이름 변경
    df.rename(columns={'hhCnt':'세대수','tong':'통','femlNmprCnt':'여자인구수','stdgCd':'법정동코드','maleFemlRate':'남여비율',
                       'stdgNm':'법정동명','ban':'반','totNmprCnt':'총인구수','ctpvNm':'시도명','maleNmprCnt':'남자인구수',
                       'sggNm':'시군구명','dongNm':'행정동명','hhNmpr':'세대당인구','admmCd':'행정기관코드',
                       'statsYm':'통계년월','liNm':'리명'},inplace=True)
    #기존의 표와 같이 순서 변경
    df = df[['통계년월','법정동코드','시도명','시군구명','법정동명','리명','행정기관코드','행정동명','통',
             '반','총인구수','세대수','세대당인구','남자인구수','여자인구수','남여비율']]
    df['업데이트일자'] = update_date
    return df

In [15]:
#추출하고자 하는 년월 입력 (yyyymm 형식)
month =before_month #한달전 yyyymm값을 넣어줌

In [16]:
num_retry = 5
남구_성공 = 0
while 남구_성공 < 1:
    try:
        df_daegu_nam_gu = pd.DataFrame()
        df_daegu_nam_gu = make_hh_data(df_daegu_nam_gu,list_daegu_nam_gu_cd,month) #남구
        남구_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_nam_gu = pd.DataFrame()
                df_daegu_nam_gu = make_hh_data(df_daegu_nam_gu,list_daegu_nam_gu_cd,month) #남구
                남구_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/3 [00:00<?, ?it/s]

In [17]:
num_retry = 5
달서구_성공 = 0
while 달서구_성공 < 1:
    try:
        df_daegu_dalseo_gu = pd.DataFrame()
        df_daegu_dalseo_gu = make_hh_data(df_daegu_dalseo_gu,list_daegu_dalseo_gu_cd,month) #달서구
        달서구_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_dalseo_gu = pd.DataFrame()
                df_daegu_dalseo_gu = make_hh_data(df_daegu_dalseo_gu,list_daegu_dalseo_gu_cd,month) #달서구
                달서구_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/24 [00:00<?, ?it/s]

In [18]:
num_retry = 5
달성군_성공 = 0
while 달성군_성공 < 1:
    try:
        df_daegu_dalseong_gun = pd.DataFrame()
        df_daegu_dalseong_gun = make_hh_data(df_daegu_dalseong_gun,list_daegu_dalseong_gun_cd,month) #달성군

        달성군_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_dalseong_gun = pd.DataFrame()
                df_daegu_dalseong_gun = make_hh_data(df_daegu_dalseong_gun,list_daegu_dalseong_gun_cd,month) #달성군

                달성군_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/9 [00:00<?, ?it/s]

In [19]:
num_retry = 5
동구_성공 = 0
while 동구_성공 < 1:
    try:
        df_daegu_dong_gu = pd.DataFrame()
        df_daegu_dong_gu = make_hh_data(df_daegu_dong_gu,list_daegu_dong_gu_cd,month) #동구
        동구_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_dong_gu = pd.DataFrame()
                df_daegu_dong_gu = make_hh_data(df_daegu_dong_gu,list_daegu_dong_gu_cd,month) #동구
                동구_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/45 [00:00<?, ?it/s]

In [20]:
num_retry = 5
북구_성공 = 0
while 북구_성공 < 1:
    try:
        df_daegu_buk_gu = pd.DataFrame()
        df_daegu_buk_gu = make_hh_data(df_daegu_buk_gu,list_daegu_buk_gu_cd,month) #북구
        북구_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_buk_gu = pd.DataFrame()
                df_daegu_buk_gu = make_hh_data(df_daegu_buk_gu,list_daegu_buk_gu_cd,month) #북구
                북구_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/31 [00:00<?, ?it/s]

In [21]:
num_retry = 5
서구_성공 = 0
while 서구_성공 < 1:
    try:
        df_daegu_seo_gu = pd.DataFrame()
        df_daegu_seo_gu = make_hh_data(df_daegu_seo_gu,list_daegu_seo_gu_cd,month) #서구
        서구_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_seo_gu = pd.DataFrame()
                df_daegu_seo_gu = make_hh_data(df_daegu_seo_gu,list_daegu_seo_gu_cd,month) #서구
                서구_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/9 [00:00<?, ?it/s]

In [22]:
num_retry = 5
수성구_성공 = 0
while 수성구_성공 < 1:
    try:
        df_daegu_suseong_gu = pd.DataFrame()
        df_daegu_suseong_gu = make_hh_data(df_daegu_suseong_gu,list_daegu_suseong_gu_cd,month) #수성구

        수성구_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_suseong_gu = pd.DataFrame()
                df_daegu_suseong_gu = make_hh_data(df_daegu_suseong_gu,list_daegu_suseong_gu_cd,month) #수성구

                수성구_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/26 [00:00<?, ?it/s]

In [23]:
num_retry = 5
중구_성공 = 0
while 중구_성공 < 1:
    try:
        df_daegu_jung_gu = pd.DataFrame()
        df_daegu_jung_gu = make_hh_data(df_daegu_jung_gu,list_daegu_jung_gu_cd,month) #중구
        중구_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_daegu_jung_gu = pd.DataFrame()
                df_daegu_jung_gu = make_hh_data(df_daegu_jung_gu,list_daegu_jung_gu_cd,month) #중구
                중구_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

retry

  0%|          | 0/57 [00:00<?, ?it/s]

In [24]:
#경상북도 경산
num_retry = 5
경산_성공 = 0
while 경산_성공 < 1:
    try:
        df_gyeongsan = pd.DataFrame()
        df_gyeongsan = make_hh_data(df_gyeongsan,list_gyeongsan_cd,month) #경산

        경산_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")
                df_gyeongsan = pd.DataFrame()
                df_gyeongsan = make_hh_data(df_gyeongsan,list_gyeongsan_cd,month) #경산

                경산_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/36 [00:00<?, ?it/s]

In [25]:
#경상북도 고령, 동명면
num_retry = 5
고령_동명면_성공 = 0
while 고령_동명면_성공 < 1:
    try:

        df_goryeong = pd.DataFrame()
        df_goryeong = make_hh_data(df_goryeong,list_goryeong_cd,month) #고령

        df_dongmyeong= pd.DataFrame()
        df_dongmyeong = make_hh_data(df_dongmyeong,list_dongmyeong_cd,month) #동명면
        
        고령_동명면_성공 = 1
    except Exception as e:
        for retry in range(num_retry):
            try:
                print("retry")

                df_goryeong = pd.DataFrame()
                df_goryeong = make_hh_data(df_goryeong,list_goryeong_cd,month) #고령
                
                df_dongmyeong= pd.DataFrame()
                df_dongmyeong = make_hh_data(df_dongmyeong,list_dongmyeong_cd,month) #동명면
                

                고령_동명면_성공 = 1
                break
            except Exception:
                continue

  0%|          | 0/8 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

In [26]:
if(남구_성공==1 & 달서구_성공==1 & 달성군_성공==1 & 동구_성공==1 & 북구_성공==1
  & 서구_성공==1 & 수성구_성공==1 & 중구_성공==1 & 경산_성공==1 & 고령_동명면_성공==1) :
    print("모두 성공")
    
elif (남구_성공 != 1):
    print("남구 실패")
        
elif (달서구_성공 != 1):
    print("달서구 실패")
    
elif (달성군_성공 != 1):
    print("달성군 실패")
        
elif (동구_성공 != 1):
    print("동구 실패")
    
elif (북구_성공 != 1):
    print("북구 실패")
        
elif (서구_성공 != 1):
    print("서구 실패")
    
elif (수성구_성공 != 1):
    print("수성구 실패")
        
elif (중구_성공 != 1):
    print("중구 실패")
    
elif (경산_성공 != 1):
    print("경산 실패")
        
elif (고령_동명면_성공 != 1):
    print("고령, 동명면 실패")

모두 성공

In [27]:
df_daegu = pd.concat([df_daegu_nam_gu,df_daegu_dalseo_gu,df_daegu_dalseong_gun,df_daegu_dong_gu,df_daegu_seo_gu,df_daegu_suseong_gu,df_daegu_buk_gu,df_daegu_jung_gu],axis = 0)
df_daegu.drop_duplicates(keep = 'first',inplace=True) #중복값 제거 >> 중복값이 있을 때 첫번째 값만 남겨둠
df_gyeongsang = pd.concat([df_gyeongsan,df_dongmyeong,df_goryeong],axis = 0)
df_gyeongsang.drop_duplicates(keep = 'first',inplace=True) #중복값 제거 >> 중복값이 있을 때 첫번째 값만 남겨둠
print('대구 데이터 길이 : ',len(df_daegu))
print('경상북도 데이터 길이 : ',len(df_gyeongsang))
df_house_hold = pd.concat([df_daegu,df_gyeongsang],axis = 0) # 도시별 데이터 결합
print("총 데이터 길이 : ",len(df_house_hold))
df_house_hold.head(5)

대구 데이터 길이 :  24815
경상북도 데이터 길이 :  2847
총 데이터 길이 :  27662

,hhCnt,tong,femlNmprCnt,stdgCd,maleFemlRate,stdgNm,ban,totNmprCnt,ctpvNm,maleNmprCnt,sggNm,dongNm,hhNmpr,admmCd,statsYm,liNm
0,10,1,6,2720010100,1.00,이천동,1,12,대구광역시,6,남구,이천동,1.20,2720051500,202305,NaN
1,25,1,24,2720010100,0.96,이천동,2,47,대구광역시,23,남구,이천동,1.88,2720051500,202305,NaN
2,34,1,26,2720010100,1.04,이천동,4,53,대구광역시,27,남구,이천동,1.56,2720051500,202305,NaN
3,51,1,35,2720010100,1.00,이천동,5,70,대구광역시,35,남구,이천동,1.37,2720051500,202305,NaN
4,55,2,70,2720010100,0.87,이천동,1,131,대구광역시,61,남구,이천동,2.38,2720051500,202305,NaN

In [27]:
print(know_hhcnt(df_house_hold))

NameError: name 'df_house_hold' is not defined

In [ ]:
#데이터 컬럼명 변경 및 위치 변경
df_house_hold =  name_sort_change(df_house_hold)
df_house_hold.head(5)

# 5. 법정동, 행정동 세대수 데이터  SQL에 삽입

In [30]:
#변수
user = "kjh" #사용자 이름 (수정)
pwd = "1234" #비밀번호 (수정)
host = "130.1.112.100" #호스트명/IP (수정)
port = 3306 #포트번호 (고정값)
db= "mdw" #사용할 데이터베이스 (필요시 수정)

db_url = f'mysql+pymysql://{user}:{quote(pwd)}@{host}:{port}/{db}' #경로 설정
engine = create_engine(db_url,encoding='utf-8') #연결

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()

#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding='utf-8')
conn = engine.connect()

#변수 타입 설정
dtypesql_date = {'통계년월':sqlalchemy.types.CHAR(6), 
                '법정동코드':sqlalchemy.types.CHAR(10), #고정
                '시도명':sqlalchemy.types.VARCHAR(5), #가변
                '시군구명':sqlalchemy.types.VARCHAR(5), #가변
                '법정동명':sqlalchemy.types.VARCHAR(7),#가변
                '리명':sqlalchemy.types.VARCHAR(7), #가변
                '행정기관코드':sqlalchemy.types.CHAR(10), #고정
                '행정동명':sqlalchemy.types.VARCHAR(10), #가변
                '통':sqlalchemy.types.VARCHAR(4), #가변
                '반':sqlalchemy.types.CHAR(4), #가변                 
                '총인구수':sqlalchemy.types.INTEGER(),
                '세대수':sqlalchemy.types.INTEGER(),
                '세대당인구':sqlalchemy.types.FLOAT(5), #가변
                '남자인구수':sqlalchemy.types.INTEGER(),
                '여자인구수':sqlalchemy.types.INTEGER(),
                '남여비율':sqlalchemy.types.FLOAT(5), #가변
                '업데이트일자':sqlalchemy.types.CHAR(8) #가변                 

            }
#삽입
df_house_hold.to_sql(name='household_dong', con=engine, if_exists='append', index=False,dtype=dtypesql_date)

27662

In [31]:
conn.close() #콘솔 종료

In [32]:
print("완료되었습니다.")

완료되었습니다.