# 기상데이터 수집 (open API)

https://apihub.kma.go.kr/

참고자료 : https://leedakyeong.tistory.com/entry/Python-Crawling-API-%ED%99%9C%EC%9A%A9%ED%95%98%EC%97%AC-%EA%B3%BC%EA%B1%B0-%EA%B8%B0%EC%83%81-%EA%B4%80%EC%B8%A1-%EB%8D%B0%EC%9D%B4%ED%84%B0-%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0

In [1]:
#라이브러리 설치
import pandas as pd
import requests
from datetime import datetime,timedelta
import math
import warnings
import numpy as np
warnings.filterwarnings('ignore')

## 기상청의 대구 코드 확인

In [2]:
url = "https://apihub.kma.go.kr/api/typ01/url/stn_inf.php"
params ={'inf' : 'SFC',
         'stn' : '',
         'authKey' : '853B8q9uTi6dwfKvbq4uqQ'} #코드 수정

response = requests.get(url, params=params, verify=False)

text = response.text
text = text.replace("#","").split("\n")

text = text[1:-2]
for i,l in enumerate(text):
    l = l.strip().replace(" ",",").split(',')
    l = [i for i in l if i != '']
    l = ",".join(l)
    text[i] = l
    
# column name setting
col_name1 =  text[0].split(',')
col_name2 = text[1].split(',')
col_name2 = [i.replace("-","") for i in col_name2]
col_name = [n1+"("+n2+")" for n1,n2 in zip(col_name1,col_name2)]
col_name = [c.replace("()","") for c in col_name]

df_temp = pd.DataFrame(text[2:])[0].str.split(",", expand=True)

df_temp = df_temp.drop(14, axis = 1)
df_temp.columns = col_name
daegu_num = df_temp[df_temp['STN_KO']=="대구"] #대구 지역번호 >> 143
#print("대구의 행 번호와 STN(ID)는 각각 :  ",daegu_num['STN(ID)'])
daegu_num

,STN(ID),LON(degee),LAT(degree),STN_SP,HT(m),HT_PA(m),HT_TA(m),HT_WD(m),HT_RN(m),STN(AD),STN_KO,STN_EN,FCT_ID,LAW_ID,BASIN
27,143,128.65296000,35.87797000,71401,54.27,55.52,1.80,10.00,0.60,143,대구,Daegu,11H10701,2714010300,None

대구 지역코드는 '<b>143<b>'

## API를 활용한 데이터 수집

### 변수 확인
#### (필요한 부분은 굵게 표시 하였습니다.)

**1. TM  : 관측일 (KST)**  
2. STN : 국내 지점번호  
3. WS_AVG : 일 평균 풍속 (m/s)  
4. WR_DAY : 일 풍정 (m)  
5. WD_MAX : 최대풍향  
6. WS_MAX : 최대풍속 (m/s)  
7. WS_MAX_TM  : 최대풍속 시각 (시분)  
8. WD_INS : 최대순간풍향  
9. WS_INS : 최대순간풍속 (m/s)  
10. WS_INS_TM  : 최대순간풍속 시각 (시분)  
**11. TA_AVG : 일 평균기온 (C)**  
**12. TA_MAX : 최고기온 (C)**  
13. TA_MAX_TM  : 최고기온 시가 (시분)   
**14. TA_MIN : 최저기온 (C)**  
15. TA_MIN_TM  : 최저기온 시각 (시분)  
16. TD_AVG : 일 평균 이슬점온도 (C)  
17. TS_AVG : 일 평균 지면온도 (C)  
18. TG_MIN : 일 최저 초상온도 (C)  
19. HM_AVG : 일 평균 상대습도 (%)  
20. HM_MIN : 최저습도 (%)  
21. HM_MIN_TM  : 최저습도 시각 (시분)  
22. PV_AVG : 일 평균 수증기압 (hPa)  
23. EV_S : 소형 증발량 (mm)  
24. EV_L : 대형 증발량 (mm)  
25. FG_DUR : 안개계속시간 (hr)  
26. PA_AVG : 일 평균 현지기압 (hPa)  
27. PS_AVG : 일 평균 해면기압 (hPa)  
28. PS_MAX : 최고 해면기압 (hPa)  
29. PS_MAX_TM  : 최고 해면기압 시각 (시분)  
30. PS_MIN : 최저 해면기압 (hPa)  
31. PS_MIN_TM  : 최저 해면기압 시각 (시분)  
32. CA_TOT : 일 평균 전운량 (1/10)  
33. SS_DAY : 일조합 (hr)  
34. SS_DUR : 가조시간 (hr)  
35. SS_CMB : 캄벨 일조 (hr)  
36. SI_DAY : 일사합 (MJ/m2)  
37. SI_60M_MAX : 최대 1시간일사 (MJ/m2)  
38. SI_60M_MAX_TM : 최대 1시간일사 시각 (시분)  
39. RN_DAY : 일 강수량 (mm)  
40. RN_D99 : 9-9 강수량 (mm)  
41. RN_DUR : 강수계속시간 (hr)  
42. RN_60M_MAX : 1시간 최다강수량 (mm)  
43. RN_60M_MAX_TM : 1시간 최다강수량 시각 (시분)  
44. RN_10M_MAX : 10분간 최다강수량 (mm)  
45. RN_10M_MAX_TM : 10분간 최다강수량 시각 (시분)  
46. RN_POW_MAX : 최대 강우강도 (mm/h)  
47. RN_POW_MAX_TM : 최대 강우강도 시각 (시분)  
48. SD_NEW : 최심 신적설 (cm)  
49. SD_NEW_TM : 최심 신적설 시각 (시분)  
50. SD_MAX : 최심 적설 (cm)  
51. SD_MAX_TM  : 최심 적설 시각 (시분)  
52. TE_05 : 0.5m 지중온도 (C)  
53. TE_10 : 1.0m 지중온도 (C)  
54. TE_15 : 1.5m 지중온도 (C)  
55. TE_30 : 3.0m 지중온도 (C)  
56. TE_50 : 5.0m 지중온도 (C)

<b>데이터 미리 보기<b>  
https://apihub.kma.go.kr/api/typ01/url/kma_sfcdd3.php?tm1=20151211&tm2=20151214&stn=108&help=0&authKey=LcdJI2t7SuCHSSNrexrgGA

In [20]:
#해당 API 특성 상 사용할 컬럼명을 미리 지정해줘야 사용가능합니다.
col_name =["TM","STN","WS_AVG","WR_DAY","WD_MAX","WS_MAX",
           "WS_MAX_TM", "WD_INS", "WS_INS","WS_INS_TM","TA_AVG","TA_MAX",
           "TA_MAX_TM","TA_MIN","TA_MIN_TM", "TD_AVG", "TS_AVG", "TG_MIN",
           "HM_AVG","HM_MIN","HM_MIN_TM", "PV_AVG", "EV_S", "EV_L", 
           "FG_DUR","PA_AVG","PS_AVG", "PS_MAX", "PS_MAX_TM", "PS_MIN",
           "PS_MIN_TM","CA_TOT","SS_DAY", "SS_DUR", "SS_CMB", "SI_DAY",
           "SI_60M_MAX","SI_60M_MAX_TM","RN_DAY", "RN_D99", "RN_DUR", "RN_60M_MAX",
           "RN_60M_MAX_TM","RN_10M_MAX","RN_10M_MAX_TM", "RN_POW_MAX", "RN_POW_MAX_TM", "SD_NEW",
           "SD_NEW_TM","SD_MAX","SD_MAX_TM", "TE_05", "TE_10", "TE_15",
           "TE_30", "TE_50"
           ] #컬럼 설정
           
           
def weather(tm1, tm2) : #과거 날씨 데이터를 추출하는 함수
    url = 'https://apihub.kma.go.kr/api/typ01/url/kma_sfcdd3.php'

    key = "853B8q9uTi6dwfKvbq4uqQ" #개인 키 (수정)
    params ={'tm1' : tm1, #시작 날짜
             'tm2' : tm2, #끝 날짜
             'stn' : 143, #지역번호 입력 >> 대구는 143 (타지 사용시 수정 필요)
             'help' : 0, # 0  : 설명이 안나옴, 1 : 설명이 나옴 
             'authKey' : key}

    response = requests.get(url, params=params, verify=False)

    text = response.text
    text = text.split("\n")[5:-2] #앞의 필요없는  5줄 부분과 뒤의 필요없는 2줄 부분을 제거
    
    df = pd.DataFrame(text)[0].str.split(expand=True) #데이터프레임 컬럼으로 변경
    df.columns = col_name
    return df

### 데이터 수집

In [25]:
#데이터 수집 시작 날짜와 끝 날짜를 작성 
start_date = 20120101 #시작 날짜(수정) 
end_date = 20230621 # 끝 날짜 (수정)

In [26]:
df_weather= weather(start_date, end_date) #데이터를 수집해 데이터프레임 형식으로 변경
df_weather

,TM,STN,WS_AVG,WR_DAY,WD_MAX,WS_MAX,WS_MAX_TM,WD_INS,WS_INS,WS_INS_TM,...,RN_POW_MAX_TM,SD_NEW,SD_NEW_TM,SD_MAX,SD_MAX_TM,TE_05,TE_10,TE_15,TE_30,TE_50
0,20120101,143,2.5,2140,29,5.9,2112,34,11.8,2106,...,-9,0.3,2045,0.3,2045,-99.0,-99.0,-99.0,-99.0,-99.0
1,20120102,143,2.2,1927,27,4.2,212,27,6.6,207,...,-9,-9.0,-9,0.2,1,-99.0,-99.0,-99.0,-99.0,-99.0
2,20120103,143,2.1,1839,29,3.8,2200,32,7.2,2212,...,-9,2.0,1950,2.0,1950,-99.0,-99.0,-99.0,-99.0,-99.0
3,20120104,143,3.2,2722,27,6.2,1120,27,9.9,1119,...,-9,1.5,145,3.5,145,-99.0,-99.0,-99.0,-99.0,-99.0
4,20120105,143,2.6,2247,27,4.6,1326,25,7.4,1432,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4185,20230617,143,2.2,1873,27,4.0,1050,25,6.7,1048,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
4186,20230618,143,2.6,2212,9,5.9,1745,9,8.5,1815,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
4187,20230619,143,3.6,3147,9,6.3,1529,9,10.0,1522,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
4188,20230620,143,3.9,3356,9,6.1,842,9,9.4,839,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
4189,20230621,143,1.7,1451,14,3.9,621,14,5.5,610,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0

### 데이터 전처리

In [10]:
#데이터 전처리 
df_weather= df_weather[['TM','TA_AVG','TA_MAX','TA_MIN']] #필요한 부분만 추출>|날짜|평균기온|최고기온|최저기온|
df_weather.columns = ['date_id','ta_avg','ta_max','ta_min'] #컬럼명 변경 > SQL과 똑같이 설정

#타입 변경
df_weather['ta_avg'] = df_weather['ta_avg'].astype(float) #실수형으로 변경
df_weather['ta_max'] = df_weather['ta_max'].astype(float) #실수형으로 변경
df_weather['ta_min'] = df_weather['ta_min'].astype(float) #실수형으로 변경

#기온 편차 컬럼 생성
df_weather['ta_diff'] = df_weather['ta_max']-df_weather['ta_min'] 
df_weather

       date_id  ta_avg  ta_max  ta_min  ta_diff
0     20120101     1.2     5.6    -3.1      8.7
1     20120102    -1.0     4.5    -4.4      8.9
2     20120103    -0.1     3.8    -2.6      6.4
3     20120104    -3.2    -0.4    -4.8      4.4
4     20120105    -2.1     3.1    -5.6      8.7
...        ...     ...     ...     ...      ...
4158  20230521    22.7    30.2    17.0     13.2
4159  20230522    17.0    20.3    12.7      7.6
4160  20230523    18.4    27.3    10.7     16.6
4161  20230524    19.6    26.0    12.2     13.8
4162  20230525    21.3    28.1    15.2     12.9

[4163 rows x 5 columns]

In [11]:
'''
#드릴업, 드릴 다운을 위한 날짜 dataframe 생성
df_date = pd.DataFrame()
df_date['date_id'] = df_weather['date_id']
df_date['date_type'] = pd.to_datetime(df_date['date_id']) #날짜 형식의 데이터 임시 생성
df_date['year'] = df_date['date_type'].dt.year #년
df_date['month'] = df_date['date_type'].dt.month #월
df_date['day'] = df_date['date_type'].dt.day #일
df_date['quarter_4'] = df_date['date_type'].dt.quarter #분기(4)
df_date['quarter_6'] = np.ceil(df_date['month']/2).astype(int) #분기(6)

df_date = pd.DataFrame()
df_date['date_id'] = df_weather['date_id']
df_date['date_type'] = pd.to_datetime(df_date['date_id']) #날짜 형식의 데이터 임시 생성
df_date['year'] = df_date['date_type'].dt.year #년
df_date['month'] = df_date['date_type'].dt.month #월
df_date['day'] = df_date['date_type'].dt.day #일

df_date['quarter_4'] = df_date['date_type'].dt.quarter #분기(4)
df_date['quarter_6'] = np.ceil(df_date['month']/2).astype(int) #분기(6)
#df_date['quarter_4'] = df_date['quarter_4'].astype(str)
#df_date['quarter_6'] = df_date['quarter_6'].astype(str)
df_date['quarter_4']=df_date['quarter_4'].astype(str)+'/4'
df_date['quarter_6']=df_date['quarter_6'].astype(str)+'/6'

df_date.loc[(df_date['month'] == 3) | (df_date['month'] == 4)| (df_date['month'] == 5), '계절구분A'] = '봄'
df_date.loc[(df_date['month'] == 6) | (df_date['month'] == 7)| (df_date['month'] == 8), '계절구분A'] = '여름'
df_date.loc[(df_date['month'] == 9) | (df_date['month'] == 10)| (df_date['month'] == 11), '계절구분A'] = '가을'
df_date.loc[(df_date['month'] == 1) | (df_date['month'] == 2)| (df_date['month'] == 12), '계절구분A'] = '겨울'

df_date.loc[(df_date['month'] == 12) | (df_date['month'] == 1)| (df_date['month'] == 2)| (df_date['month'] == 3), '계절구분B'] = '동절기'
df_date.loc[(df_date['month'] == 6) | (df_date['month'] == 7)| (df_date['month'] == 8)| (df_date['month'] == 9), '계절구분B'] = '하절기'
df_date.loc[(df_date['month'] == 4) | (df_date['month'] == 5)| (df_date['month'] == 10)| (df_date['month'] == 11), '계절구분B'] = '기타'


df_date.loc[(df_date['month'] == 10) | (df_date['month'] == 11)| (df_date['month'] == 12)| (df_date['month'] == 1)
            | (df_date['month'] == 2)| (df_date['month'] == 3)| (df_date['month'] == 4),'계절구분C'] = '동절기'
df_date.loc[(df_date['month'] == 5) | (df_date['month'] == 6)| (df_date['month'] == 7)
            | (df_date['month'] == 8)| (df_date['month'] == 9), '계절구분C'] = '하절기'

df_date

'''

"\n#드릴업, 드릴 다운을 위한 날짜 dataframe 생성\ndf_date = pd.DataFrame()\ndf_date['date_id'] = df_weather['date_id']\ndf_date['date_type'] = pd.to_datetime(df_date['date_id']) #날짜 형식의 데이터 임시 생성\ndf_date['year'] = df_date['date_type'].dt.year #년\ndf_date['month'] = df_date['date_type'].dt.month #월\ndf_date['day'] = df_date['date_type'].dt.day #일\ndf_date['quarter_4'] = df_date['date_type'].dt.quarter #분기(4)\ndf_date['quarter_6'] = np.ceil(df_date['month']/2).astype(int) #분기(6)\n\ndf_date = pd.DataFrame()\ndf_date['date_id'] = df_weather['date_id']\ndf_date['date_type'] = pd.to_datetime(df_date['date_id']) #날짜 형식의 데이터 임시 생성\ndf_date['year'] = df_date['date_type'].dt.year #년\ndf_date['month'] = df_date['date_type'].dt.month #월\ndf_date['day'] = df_date['date_type'].dt.day #일\n\ndf_date['quarter_4'] = df_date['date_type'].dt.quarter #분기(4)\ndf_date['quarter_6'] = np.ceil(df_date['month']/2).astype(int) #분기(6)\n#df_date['quarter_4'] = df_date['quarter_4'].astype(str)\n#df_date['quarter_6'] = df_date['quarter_6'].astype(str)\ndf_date['quarter_4']=df_date['quarter_4'].astype(str)+'/4'\ndf_date['quarter_6']=df_date['quarter_6'].astype(str)+'/6'\n\ndf_date.loc[(df_date['month'] == 3) | (df_date['month'] == 4)| (df_date['month'] == 5), '계절구분A'] = '봄'\ndf_date.loc[(df_date['month'] == 6) | (df_date['month'] == 7)| (df_date['month'] == 8), '계절구분A'] = '여름'\ndf_date.loc[(df_date['month'] == 9) | (df_date['month'] == 10)| (df_date['month'] == 11), '계절구분A'] = '가을'\ndf_date.loc[(df_date['month'] == 1) | (df_date['month'] == 2)| (df_date['month'] == 12), '계절구분A'] = '겨울'\n\ndf_date.loc[(df_date['month'] == 12) | (df_date['month'] == 1)| (df_date['month'] == 2)| (df_date['month'] == 3), '계절구분B'] = '동절기'\ndf_date.loc[(df_date['month'] == 6) | (df_date['month'] == 7)| (df_date['month'] == 8)| (df_date['month'] == 9), '계절구분B'] = '하절기'\ndf_date.loc[(df_date['month'] == 4) | (df_date['month'] == 5)| (df_date['month'] == 10)| (df_date['month'] == 11), '계절구분B'] = '기타'\n\n\ndf_date.loc[(df_date['month'] == 10) | (df_date['month'] == 11)| (df_date['month'] == 12)| (df_date['month'] == 1)\n            | (df_date['month'] == 2)| (df_date['month'] == 3)| (df_date['month'] == 4),'계절구분C'] = '동절기'\ndf_date.loc[(df_date['month'] == 5) | (df_date['month'] == 6)| (df_date['month'] == 7)\n            | (df_date['month'] == 8)| (df_date['month'] == 9), '계절구분C'] = '하절기'\n\ndf_date\n\n"

### 월 별 데이터 시각화

현재 date관련 데이터(주석처리 됨)가 없기 때문에,<b>실행이 되지 않습니다.<b>   
date 데이터를 넣으면 실행이 가능합니다.

In [12]:
'''
import numpy as np
import pandas as pd
from urllib.request import urlopen
import json
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
from plotly.validators.scatter.marker import SymbolValidator


# 시각화를 위한 임시 데이터 생성
df_weather0 =df_weather.copy()
df_weather0['year'] = df_date['year']
df_weather0['month'] = df_date['month']

df_weather0 = df_weather0.rename(columns={'date_id' : '일자','ta_avg':'평균기온','ta_max':'최고기온','ta_min':'최저기온','year':'년','month':'월'})
df_weather0.drop(['ta_diff'],axis=1,inplace=True)
df_weather0 #임의의 데이터 생성 >> 한국어로 바꿔 그래프의 가독성을 향상

index0 = df_weather0[df_weather0['평균기온'] <= -50].index 
print(index0) 
df_weather0 = df_weather0.drop(index0)#이상값이 2개 존재해서 제거후 시각화 예정
df_weather0

fig = px.box(df_weather0, x='년', y='평균기온', points='outliers',hover_data=df_weather0.columns,color = '월')
fig.show() #파일을 시각화 하는 코드
fig.write_html("년도별_날씨_월별_데이터_표시.html") #파일을 저장하는 코드

# 시각화를 위한 임시 데이터 생성
df_weather1 =df_weather.copy()
df_weather1['month'] = df_date['month']
df_weather1 = df_weather1.rename(columns={'date_id' : '일자','ta_avg':'평균기온','ta_max':'최고기온','ta_min':'최저기온','month':'월'})
df_weather1.drop(['ta_diff'],axis=1,inplace=True)
df_weather1 #임의의 데이터 생성 >> 한국어로 바꿔 그래프의 가독성을 향상

index1 = df_weather1[df_weather1['평균기온'] <= -50].index 
print(index1) 
df_weather1 = df_weather1.drop(index1)#이상값이 2개 존재해서 제거후 시각화 예정
df_weather1

fig = px.box(df_weather1, x='월', y='평균기온', points='all',hover_data=df_weather1.columns,color = '월')
fig.show() #파일을 시각화 하는 코드
fig.write_html("날씨_월별_전체데이터_표시.html") #파일을 저장하는 코드

fig = px.box(df_weather1, x='월', y='평균기온', points='outliers',hover_data=df_weather1.columns,color = '월')
fig.show() #파일을 시각화 하는 코드
fig.write_html("날씨_월별_Outlier_표시.html") #파일을 저장하는 코드

'''

'\nimport numpy as np\nimport pandas as pd\nfrom urllib.request import urlopen\nimport json\nimport plotly.io as pio\nimport plotly.express as px\nimport plotly.graph_objects as go\nimport plotly.figure_factory as ff\nfrom plotly.subplots import make_subplots\nfrom plotly.validators.scatter.marker import SymbolValidator\n\n\n# 시각화를 위한 임시 데이터 생성\ndf_weather0 =df_weather.copy()\ndf_weather0[\'year\'] = df_date[\'year\']\ndf_weather0[\'month\'] = df_date[\'month\']\n\ndf_weather0 = df_weather0.rename(columns={\'date_id\' : \'일자\',\'ta_avg\':\'평균기온\',\'ta_max\':\'최고기온\',\'ta_min\':\'최저기온\',\'year\':\'년\',\'month\':\'월\'})\ndf_weather0.drop([\'ta_diff\'],axis=1,inplace=True)\ndf_weather0 #임의의 데이터 생성 >> 한국어로 바꿔 그래프의 가독성을 향상\n\nindex0 = df_weather0[df_weather0[\'평균기온\'] <= -50].index \nprint(index0) \ndf_weather0 = df_weather0.drop(index0)#이상값이 2개 존재해서 제거후 시각화 예정\ndf_weather0\n\nfig = px.box(df_weather0, x=\'년\', y=\'평균기온\', points=\'outliers\',hover_data=df_weather0.columns,color = \'월\')\nfig.show() #파일을 시각화 하는 코드\nfig.write_html("년도별_날씨_월별_데이터_표시.html") #파일을 저장하는 코드\n\n# 시각화를 위한 임시 데이터 생성\ndf_weather1 =df_weather.copy()\ndf_weather1[\'month\'] = df_date[\'month\']\ndf_weather1 = df_weather1.rename(columns={\'date_id\' : \'일자\',\'ta_avg\':\'평균기온\',\'ta_max\':\'최고기온\',\'ta_min\':\'최저기온\',\'month\':\'월\'})\ndf_weather1.drop([\'ta_diff\'],axis=1,inplace=True)\ndf_weather1 #임의의 데이터 생성 >> 한국어로 바꿔 그래프의 가독성을 향상\n\nindex1 = df_weather1[df_weather1[\'평균기온\'] <= -50].index \nprint(index1) \ndf_weather1 = df_weather1.drop(index1)#이상값이 2개 존재해서 제거후 시각화 예정\ndf_weather1\n\nfig = px.box(df_weather1, x=\'월\', y=\'평균기온\', points=\'all\',hover_data=df_weather1.columns,color = \'월\')\nfig.show() #파일을 시각화 하는 코드\nfig.write_html("날씨_월별_전체데이터_표시.html") #파일을 저장하는 코드\n\nfig = px.box(df_weather1, x=\'월\', y=\'평균기온\', points=\'outliers\',hover_data=df_weather1.columns,color = \'월\')\nfig.show() #파일을 시각화 하는 코드\nfig.write_html("날씨_월별_Outlier_표시.html") #파일을 저장하는 코드\n\n'

### 추출한 파일을 csv로 저장 (필요시 실행)

df_weather.to_csv("날씨_데이터.csv",encoding='cp949',index=False)  
#df_date.to_csv("날짜(20120101~20230331).csv",encoding='cp949',index=False)

# 데이터 삽입

데이터 삽입 참고 : https://seokhyun2.tistory.com/84  
                    https://hongjuzzang.github.io/howto/dataframe_to_mysql/

* host = 'ip주소'
* user = '사용자명'
* password = '비밀번호'
* db = 'db명' #사용하고자 하는 데이터베이스명
* charset ='utf-8' # 한국어 데이터 읽기 위해 작성
* cursorclass=pymysql.cursors.DictCursor # DB 조회시, 컬럼명을 동시에 보여줌
* autocommit=True # 결과를 DB에 반영(INSERT, UPDATE ..)

In [14]:
#필요 라이브러리 설치
!pip install pymysql
import pymysql
import csv
from urllib.parse import quote
from sqlalchemy import create_engine
import sqlalchemy

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.0.3)

In [15]:
user = "kjh" #사용자 이름 (수정)
pwd = "1234" #비밀번호 (수정)
host = "130.1.112.100" #호스트명/IP (수정)
port = 3306 #포트번호 (고정값)
db= "mdw" #사용할 데이터베이스 (필요시 수정)

db_url = f'mysql+pymysql://{user}:{quote(pwd)}@{host}:{port}/{db}' #경로 설정
engine = create_engine(db_url,encoding='utf-8') #연결

## mdw.date 데이터 삽입  
사용하지 않습니다.

In [16]:
'''
# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()

#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding='utf-8')
conn = engine.connect()

#변수 타입 설정
dtypesql_date = {'date_id':sqlalchemy.types.CHAR(8), 
                 'date_type':sqlalchemy.types.DATE, 
          'year':sqlalchemy.types.CHAR(4), 
          'month':sqlalchemy.types.CHAR(2),
          'day':sqlalchemy.types.CHAR(2), 
          #yearmonths':sqlalchemy.types.INT(),
          'quarter_4':sqlalchemy.types.CHAR(1),
          'quarter_6':sqlalchemy.types.CHAR(1) 
            }

#사용할 데이터 프레임.to_sql(name='생성할 테이블명', con=연결할 엔진(engine), if_exists=아래 설명('replace'), index=False,dtype=변수 타입 설정으로 지정한 값)
df_date.to_sql(name='date', con=engine, if_exists='replace', index=False,dtype=dtypesql_date) 
conn.close()
'''

'\n# MySQL Connector using pymysql\npymysql.install_as_MySQLdb()\n\n#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding=\'utf-8\')\nconn = engine.connect()\n\n#변수 타입 설정\ndtypesql_date = {\'date_id\':sqlalchemy.types.CHAR(8), \n                 \'date_type\':sqlalchemy.types.DATE, \n          \'year\':sqlalchemy.types.CHAR(4), \n          \'month\':sqlalchemy.types.CHAR(2),\n          \'day\':sqlalchemy.types.CHAR(2), \n          #yearmonths\':sqlalchemy.types.INT(),\n          \'quarter_4\':sqlalchemy.types.CHAR(1),\n          \'quarter_6\':sqlalchemy.types.CHAR(1) \n            }\n\n#사용할 데이터 프레임.to_sql(name=\'생성할 테이블명\', con=연결할 엔진(engine), if_exists=아래 설명(\'replace\'), index=False,dtype=변수 타입 설정으로 지정한 값)\ndf_date.to_sql(name=\'date\', con=engine, if_exists=\'replace\', index=False,dtype=dtypesql_date) \nconn.close()\n'

- if_exists : [fail, replace, append] -> 테이블이 이미 존재하는 경우 어떻게 할지에 대한 옵션  
    - fail : ValueError 발생  
    - append : 존재하는 테이블에 값 저장  
           append의 경우는 기존에 있는 테이블에 저장을 하는 것이여서 저장할 데이터프레임의 길이나 타입이 맞지않는다면 오류가 난다.  
    -replace : 테이블 지우고 새로 생성 후 값 저장  
           replace는 새로 데이터프레임 타입에 맞춰 테이블이 생성되므로 데이터프레임 타입이 object일땐 mysql에서는 TEXT로 생겼다.

## mdw.weather 데이터 삽입

In [17]:
# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
engine = create_engine(db_url,encoding='utf-8')
#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding='utf-8')

conn = engine.connect()

dtypesql_weather = {'date_id':sqlalchemy.types.CHAR(8), #변수 설정과 형식 지정
          'ta_avg':sqlalchemy.types.FLOAT(),  
          'ta_max':sqlalchemy.types.FLOAT(),
          'ta_min':sqlalchemy.types.FLOAT(), 
          'ta_diff':sqlalchemy.types.FLOAT()
            }

df_weather.to_sql(name='weather', con=engine, if_exists='replace', index=False,dtype=dtypesql_weather) 
conn.close()

# 날씨 평균 테이블 생성 (사용하지 않음)

In [18]:
'''
df_weather_avg = df_weather.copy()
df_weather_avg['date_month'] = df_weather_avg['date_id'].str[:6]

df_weather_avg= df_weather_avg.groupby('date_month').mean()
df_weather_avg.reset_index(inplace=True)

df_weather_avg['year'] = df_weather_avg['date_month'].str[:4]
df_weather_avg['month'] = df_weather_avg['date_month'].str[4:6]
df_weather_avg['day'] = 1

df_weather_avg['date_type'] = pd.to_datetime(df_weather_avg[['year','month','day']], format = '%Y%M%%D')
df_weather_avg=df_weather_avg.drop(labels=['year','month','day'],axis=1) #임시로 생성한 날짜 형식의 데이터 제거

df_weather_avg
#df_weather_avg=df_weather_avg.drop(labels=['year','month','day'],axis=1) #임시로 생성한 날짜 형식의 데이터 제거
#df_weather_avg['date_id'] = new_df['date'].dt.strftime('%Y%m%d') #데이터 형식 변경

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
engine = create_engine(db_url,encoding='utf-8')
#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding='utf-8')

conn = engine.connect()

dtypesql_weather = {'date_month':sqlalchemy.types.CHAR(8), 
          'ta_avg':sqlalchemy.types.FLOAT(), 
          'ta_max':sqlalchemy.types.FLOAT(),
          'ta_min':sqlalchemy.types.FLOAT(), 
          'ta_diff':sqlalchemy.types.FLOAT(),
          'date_type':sqlalchemy.types.DATE
            }

df_weather_avg.to_sql(name='weather_avg', con=engine, if_exists='replace', index=False,dtype=dtypesql_weather)  #132
'''

'\ndf_weather_avg = df_weather.copy()\ndf_weather_avg[\'date_month\'] = df_weather_avg[\'date_id\'].str[:6]\n\ndf_weather_avg= df_weather_avg.groupby(\'date_month\').mean()\ndf_weather_avg.reset_index(inplace=True)\n\ndf_weather_avg[\'year\'] = df_weather_avg[\'date_month\'].str[:4]\ndf_weather_avg[\'month\'] = df_weather_avg[\'date_month\'].str[4:6]\ndf_weather_avg[\'day\'] = 1\n\ndf_weather_avg[\'date_type\'] = pd.to_datetime(df_weather_avg[[\'year\',\'month\',\'day\']], format = \'%Y%M%%D\')\ndf_weather_avg=df_weather_avg.drop(labels=[\'year\',\'month\',\'day\'],axis=1) #임시로 생성한 날짜 형식의 데이터 제거\n\ndf_weather_avg\n#df_weather_avg=df_weather_avg.drop(labels=[\'year\',\'month\',\'day\'],axis=1) #임시로 생성한 날짜 형식의 데이터 제거\n#df_weather_avg[\'date_id\'] = new_df[\'date\'].dt.strftime(\'%Y%m%d\') #데이터 형식 변경\n\n# MySQL Connector using pymysql\npymysql.install_as_MySQLdb()\nengine = create_engine(db_url,encoding=\'utf-8\')\n#engine = create_engine("mysql+mysqldb://kjh:1234@130.1.112.100:3306/mdw", encoding=\'utf-8\')\n\nconn = engine.connect()\n\ndtypesql_weather = {\'date_month\':sqlalchemy.types.CHAR(8), \n          \'ta_avg\':sqlalchemy.types.FLOAT(), \n          \'ta_max\':sqlalchemy.types.FLOAT(),\n          \'ta_min\':sqlalchemy.types.FLOAT(), \n          \'ta_diff\':sqlalchemy.types.FLOAT(),\n          \'date_type\':sqlalchemy.types.DATE\n            }\n\ndf_weather_avg.to_sql(name=\'weather_avg\', con=engine, if_exists=\'replace\', index=False,dtype=dtypesql_weather)  #132\n'

# csv파일을 sql에 넣기 (사용하지 않음)

In [19]:
'''
#MySQL 서버와 연결
conn = pymysql.connect(host='130.1.112.100', user='kjh', password='1234', db='mdw',charset='utf8',cursorclass=pymysql.cursors.DictCursor ) 
#결과를 db에 반영 시,autocommit=True로 설정
curs = conn.cursor()
conn.commit()

df_date.to_csv('df_date.csv',encoding='cp949',index=False)
f = open('df_date.csv','r')
csvReader = csv.reader(f) #이렇게 읽으면 첫번째 행을 바로 읽는 문제 있음

#컬럼 매핑 for문 사용
for row in csvReader:
    date_id = (row[0])    
    year = (row[1])
    month = (row[2])
    day = (row[3])
    quarter_4 = (row[4])
    quarter_6 = (row[5])        
    print(date_id)
    print(year)
    print(month)
    print(day)
    print(quarter_4)
    print(quarter_6)
    sql = """insert into date (date_id, year,month,day,quarter_4,quarter_6) values (%s, %s, %s, %s, %s, %s)"""
    curs.execute(sql, (date_id, year,month,day,quarter_4,quarter_6))

#DB의 변환 저장
conn.commit()
f.close()
conn.close()    
'''

'\n#MySQL 서버와 연결\nconn = pymysql.connect(host=\'130.1.112.100\', user=\'kjh\', password=\'1234\', db=\'mdw\',charset=\'utf8\',cursorclass=pymysql.cursors.DictCursor ) \n#결과를 db에 반영 시,autocommit=True로 설정\ncurs = conn.cursor()\nconn.commit()\n\ndf_date.to_csv(\'df_date.csv\',encoding=\'cp949\',index=False)\nf = open(\'df_date.csv\',\'r\')\ncsvReader = csv.reader(f) #이렇게 읽으면 첫번째 행을 바로 읽는 문제 있음\n\n#컬럼 매핑 for문 사용\nfor row in csvReader:\n    date_id = (row[0])    \n    year = (row[1])\n    month = (row[2])\n    day = (row[3])\n    quarter_4 = (row[4])\n    quarter_6 = (row[5])        \n    print(date_id)\n    print(year)\n    print(month)\n    print(day)\n    print(quarter_4)\n    print(quarter_6)\n    sql = """insert into date (date_id, year,month,day,quarter_4,quarter_6) values (%s, %s, %s, %s, %s, %s)"""\n    curs.execute(sql, (date_id, year,month,day,quarter_4,quarter_6))\n\n#DB의 변환 저장\nconn.commit()\nf.close()\nconn.close()    \n'