## 기상청의 대구 코드 확인
+ 작성: 김지훈
+ 수정: 임경호

In [7]:
#라이브러리 설치
import pandas as pd
import requests
import warnings
warnings.filterwarnings('ignore')

In [8]:
url = "https://apihub.kma.go.kr/api/typ01/url/stn_inf.php"
params ={'inf' : 'SFC',
         'stn' : '',
         'authKey' : '853B8q9uTi6dwfKvbq4uqQ'} #코드 수정
response = requests.get(url, params=params, verify=False)

In [9]:
if response.status_code == 200:     # URL GET '200 정상'
    print("정상")

정상

In [10]:
if response.status_code == 200:     # URL GET '200 정상'
    text = response.text
    text = text.replace("#","").split("\n")

    text = text[1:-2]
    for i,l in enumerate(text):
        l = l.strip().replace(" ",",").split(',')
        l = [i for i in l if i != '']
        l = ",".join(l)
        text[i] = l
        
    # column name setting
    col_name1 =  text[0].split(',')
    col_name2 = text[1].split(',')
    col_name2 = [i.replace("-","") for i in col_name2]
    col_name = [n1+"("+n2+")" for n1,n2 in zip(col_name1,col_name2)]
    col_name = [c.replace("()","") for c in col_name]

    df_temp = pd.DataFrame(text[2:])[0].str.split(",", expand=True)

    df_temp = df_temp.drop(14, axis = 1)
    df_temp.columns = col_name
    daegu_num = df_temp[df_temp['STN_KO']=="대구"] #대구 지역번호 >> 143
    # print("대구의 행 번호와 STN(ID)는 각각 :  ", daegu_num['STN(ID)'])
    daegu_num

In [11]:
daegu_num

,STN(ID),LON(degee),LAT(degree),STN_SP,HT(m),HT_PA(m),HT_TA(m),HT_WD(m),HT_RN(m),STN(AD),STN_KO,STN_EN,FCT_ID,LAW_ID,BASIN
27,143,128.65296000,35.87797000,71401,54.27,55.52,1.80,10.00,0.60,143,대구,Daegu,11H10701,2714010300,None