### 한국수출입은행 - 원화 환율(기간 지정) 및 DB 저장

In [13]:
date_from = "2023-07-03"
date_to = "2023-07-04"
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON'
api_key = 'OczbdUJk31QuSPZNx3llq7VFOEmsMuew'
RESULT_SUCCESS = 1

In [14]:
import requests
import pandas as pd

date_range = pd.date_range(start=date_from, end=date_to, freq="D")

df_fx_all = pd.DataFrame()
for dt in date_range:
    date_str = dt.strftime("%Y%m%d")
    params = {
        'authkey': api_key,
        'searchdate': date_str,
        'data': 'AP01'             # 환율
    }
    response = requests.get(url, params=params)
    if response.status_code != 200:     # URL GET '200 정상'
        print("URL GET Error")
        pass
    df_fx = pd.json_normalize(response.json())
    if not df_fx.empty:
        if RESULT_SUCCESS not in df_fx['result'].unique():         # 성공이 아니라면
            print('Result is not successful')
            pass
        df_fx.drop('result', axis=1, inplace=True)
        df_fx.insert(0, 'date', date_str)
        df_fx_all = pd.concat([df_fx_all, df_fx], ignore_index=True)

+ RESULT  Integer 조회결과
  - 1 : 성공, 2 : DATA코드 오류, 3 : 인증코드 오류, 4 : 일일제한횟수 마감
+ CUR_UNIT	String	통화코드
+ CUR_NM	String	국가/통화명
+ TTB String 전신환(송금) 받으실때
+ TTS String 전신환(송금) 보내실때
+ DEAL_BAS_R  String 매매 기준율
+ BKPR  String	장부가격	
+ YY_EFEE_R String	년환가료율	
+ TEN_DD_EFEE_R String	10일환가료율	
+ KFTC_DEAL_BAS_R String	서울외국환중개 매매기준율	
+ KFTC_BKPR String	서울외국환중개 장부가격

In [15]:
df_fx_all.shape

(46, 11)

In [16]:
# df_fx_all.groupby('date').agg(cur = ('cur_unit', 'count'))

In [17]:
# currency = 'USD'
# df_fx_all.query('cur_unit == @currency')

In [18]:
df_fx_all.to_excel('korea_eximbank_fx.xlsx')

#### DB에 저장

In [19]:
df_fx_all_save = df_fx_all[['date', 'cur_unit', 'ttb', 'tts', 'deal_bas_r', 'bkpr', 'kftc_bkpr', 'kftc_deal_bas_r']]

* 데이터 전처리

In [20]:
# 숫자의 소수점(,) 없애기
df_fx_all_save.iloc[:,2:8] = df_fx_all_save.iloc[:,2:8].apply(lambda x: x.str.replace(',', ''), axis = 1)
# 통화코드에서 세 자리 초과하는 내용은 지우고 통화코드 생성: (예) JPY(100) -> JPY로 변경
df_fx_all_save.insert(2, 'cur_code', df_fx_all_save['cur_unit'].str[0:3])
df_fx_all_save = df_fx_all_save.drop('cur_unit', axis=1)

In [21]:
df_fx_all_save

,date,cur_code,ttb,tts,deal_bas_r,bkpr,kftc_bkpr,kftc_deal_bas_r
0,20230703,AED,355.62,362.81,359.22,359,359,359.22
1,20230703,AUD,870.13,887.7,878.92,878,878,878.92
2,20230703,BHD,3464.83,3534.82,3499.83,3499,3499,3499.83
3,20230703,BND,965.8,985.31,975.56,975,975,975.56
4,20230703,CAD,985.85,1005.76,995.81,995,995,995.81
5,20230703,CHF,1459.28,1488.77,1474.03,1474,1474,1474.03
6,20230703,CNH,179.95,183.58,181.77,181,181,181.77
7,20230703,DKK,191.37,195.24,193.31,193,193,193.31
8,20230703,EUR,1425.07,1453.86,1439.47,1439,1439,1439.47
9,20230703,GBP,1658.61,1692.12,1675.37,1675,1675,1675.37
10,20230703,HKD,166.67,170.04,168.36,168,168,168.36
11,20230703,IDR,8.71,8.88,8.8,8,8,8.8
12,20230703,JPY,904.73,923,913.87,913,913,913.87
13,20230703,KRW,0,0,1,1,1,1
14,20230703,KWD,4246.16,4331.95,4289.06,4289,4289,4289.06
15,20230703,MYR,279.85,285.5,282.68,282,282,282.68
16,20230703,NOK,121.42,123.87,122.65,122,122,122.65
17,20230703,NZD,801.35,817.54,809.45,809,809,809.45
18,20230703,SAR,348.26,355.29,351.78,351,351,351.78
19,20230703,SEK,120.97,123.42,122.2,122,122,122.2
20,20230703,SGD,965.8,985.31,975.56,975,975,975.56
21,20230703,THB,37.01,37.76,37.39,37,37,37.39
22,20230703,USD,1306.2,1332.59,1319.4,1319,1319,1319.4
23,20230704,AED,353.11,360.24,356.68,356,356,356.68
24,20230704,AUD,865.48,882.97,874.23,874,874,874.23
25,20230704,BHD,3440.14,3509.63,3474.89,3474,3474,3474.89
26,20230704,BND,959.95,979.34,969.65,969,969,969.65
27,20230704,CAD,978.86,998.63,988.75,988,988,988.75
28,20230704,CHF,1446.86,1476.09,1461.48,1461,1461,1461.48
29,20230704,CNH,179.07,182.68,180.88,180,180,180.88
30,20230704,DKK,190.06,193.89,191.98,191,191,191.98
31,20230704,EUR,1415.5,1444.09,1429.8,1429,1429,1429.8
32,20230704,GBP,1645.83,1679.08,1662.46,1662,1662,1662.46
33,20230704,HKD,165.54,168.89,167.22,167,167,167.22
34,20230704,IDR,8.63,8.8,8.72,8,8,8.72
35,20230704,JPY,896.51,914.62,905.57,905,905,905.57
36,20230704,KRW,0,0,1,1,1,1
37,20230704,KWD,4218.65,4303.88,4261.27,4261,4261,4261.27
38,20230704,MYR,277.85,283.46,280.66,280,280,280.66
39,20230704,NOK,121.26,123.71,122.49,122,122,122.49
40,20230704,NZD,798.63,814.76,806.7,806,806,806.7
41,20230704,SAR,345.8,352.79,349.3,349,349,349.3
42,20230704,SEK,119.66,122.07,120.87,120,120,120.87
43,20230704,SGD,959.95,979.34,969.65,969,969,969.65
44,20230704,THB,37.01,37.76,37.39,37,37,37.39
45,20230704,USD,1296.9,1323.1,1310,1310,1310,1310

* DB 테이블에 저장

In [22]:
import sys
module_path = "D:\PythonProject\data-gatherer\common"
sys.path.append(module_path)
import dbconnect

conn = dbconnect.db_connect("DEMO_DW")
cur = conn.cursor()

for row in df_fx_all_save.itertuples():
    sql = "insert into fx_eximbank (date, cur_code, ttb, tts, deal_bas_r, bkpr, kftc_bkpr, kftc_deal_bas_r) \
                           values (%s, %s, %s, %s, %s, %s, %s, %s)"
    cur.execute(sql, (row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8]))
conn.commit()
conn.close()