### 한국수출입은행 - 원화 환율 (기간 지정)

In [44]:
date_from = "2023-06-01"
date_to = "2023-07-04"
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON'
api_key = 'OczbdUJk31QuSPZNx3llq7VFOEmsMuew'
RESULT_SUCCESS = 1

In [45]:
import requests
import pandas as pd

date_range = pd.date_range(start=date_from, end=date_to, freq="D")

df_fx_all = pd.DataFrame()
for dt in date_range:
    date_str = dt.strftime("%Y%m%d")
    params = {
        'authkey': api_key,
        'searchdate': date_str,
        'data': 'AP01'             # 환율
    }
    response = requests.get(url, params=params)
    if response.status_code != 200:     # URL GET '200 정상'
        print("URL GET Error")
        pass
    df_fx = pd.json_normalize(response.json())
    if not df_fx.empty:
        if RESULT_SUCCESS not in df_fx['result'].unique():         # 성공이 아니라면
            print('Result is not successful')
            pass
        df_fx.drop('result', axis=1, inplace=True)
        df_fx.insert(0, 'date', date_str)
        df_fx_all = pd.concat([df_fx_all, df_fx], ignore_index=True)

In [46]:
df_fx_all.shape

(529, 11)

In [48]:
df_fx_all.groupby('date').agg(cur = ('cur_unit', 'count'))

          cur
date
20230601   23
20230602   23
20230605   23
20230607   23
20230608   23
20230609   23
20230612   23
20230613   23
20230614   23
20230615   23
20230616   23
20230619   23
20230620   23
20230621   23
20230622   23
20230623   23
20230626   23
20230627   23
20230628   23
20230629   23
20230630   23
20230703   23
20230704   23

In [51]:
currency = 'USD'
df_fx_all.query('cur_unit == @currency')

,date,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
22,20230601,USD,"1,308.38","1,334.81","1,321.6","1,321",0,0,"1,321","1,321.6",미국 달러
45,20230602,USD,"1,307.49","1,333.9","1,320.7","1,320",0,0,"1,320","1,320.7",미국 달러
68,20230605,USD,"1,295.71","1,321.88","1,308.8","1,308",0,0,"1,308","1,308.8",미국 달러
91,20230607,USD,"1,295.21","1,321.38","1,308.3","1,308",0,0,"1,308","1,308.3",미국 달러
114,20230608,USD,"1,287.49","1,313.5","1,300.5","1,300",0,0,"1,300","1,300.5",미국 달러
137,20230609,USD,"1,293.03","1,319.16","1,306.1","1,306",0,0,"1,306","1,306.1",미국 달러
160,20230612,USD,"1,281.95","1,307.84","1,294.9","1,294",0,0,"1,294","1,294.9",미국 달러
183,20230613,USD,"1,278.18","1,304.01","1,291.1","1,291",0,0,"1,291","1,291.1",미국 달러
206,20230614,USD,"1,264.72","1,290.27","1,277.5","1,277",0,0,"1,277","1,277.5",미국 달러
229,20230615,USD,"1,263.14","1,288.65","1,275.9","1,275",0,0,"1,275","1,275.9",미국 달러
252,20230616,USD,"1,267.29","1,292.9","1,280.1","1,280",0,0,"1,280","1,280.1",미국 달러
275,20230619,USD,"1,260.76","1,286.23","1,273.5","1,273",0,0,"1,273","1,273.5",미국 달러
298,20230620,USD,"1,267.89","1,293.5","1,280.7","1,280",0,0,"1,280","1,280.7",미국 달러
321,20230621,USD,"1,269.37","1,295.02","1,282.2","1,282",0,0,"1,282","1,282.2",미국 달러
344,20230622,USD,"1,278.58","1,304.41","1,291.5","1,291",0,0,"1,291","1,291.5",미국 달러
367,20230623,USD,"1,278.48","1,304.31","1,291.4","1,291",0,0,"1,291","1,291.4",미국 달러
390,20230626,USD,"1,289.17","1,315.22","1,302.2","1,302",0,0,"1,302","1,302.2",미국 달러
413,20230627,USD,"1,290.76","1,316.83","1,303.8","1,303",0,0,"1,303","1,303.8",미국 달러
436,20230628,USD,"1,290.06","1,316.13","1,303.1","1,303",0,0,"1,303","1,303.1",미국 달러
459,20230629,USD,"1,291.25","1,317.34","1,304.3","1,304",0,0,"1,304","1,304.3",미국 달러
482,20230630,USD,"1,299.67","1,325.92","1,312.8","1,312",0,0,"1,312","1,312.8",미국 달러
505,20230703,USD,"1,306.2","1,332.59","1,319.4","1,319",0,0,"1,319","1,319.4",미국 달러
528,20230704,USD,"1,296.9","1,323.1","1,310","1,310",0,0,"1,310","1,310",미국 달러