## 환율 가져오기 - 파이썬 라이브러리 이용
+ 작성: 임경호

### forex_python 라이브러리
- openexchangerates.org의 API를 이용하여 외환 정보를 수집

In [6]:
from forex_python.converter import CurrencyRates

# 현재 시점의 원/달러 환율
c = CurrencyRates()
fx_usd_krw1 = c.get_rate('USD', 'KRW')
fx_usd_krw1

1290.4545454545453

### FinanceDataReader 라이브러리

In [7]:
import FinanceDataReader as fdr

fx_usd_krw2 = fdr.DataReader('USD/KRW').iloc[-1][0]
fx_usd_krw2

1303.420044

In [9]:
df_fx_usd_krw = fdr.DataReader('USD/KRW', '2022')
df_fx_usd_krw

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,1187.130005,1195.339966,1187.000000,1187.780029,1187.780029,0
2022-01-04,1195.630005,1199.729980,1191.500000,1194.680054,1194.680054,0
2022-01-05,1196.670044,1199.689941,1193.280029,1196.500000,1196.500000,0
2022-01-06,1199.250000,1206.260010,1196.589966,1199.250000,1199.250000,0
2022-01-07,1204.670044,1204.760010,1199.579956,1205.780029,1205.780029,0
...,...,...,...,...,...,...
2023-06-21,1287.540039,1295.630005,1286.199951,1287.540039,1287.540039,0
2023-06-22,1288.380005,1301.170044,1287.719971,1288.380005,1288.380005,0
2023-06-23,1298.209961,1310.239990,1297.680054,1298.209961,1298.209961,0
2023-06-26,1307.670044,1308.890015,1300.260010,1307.670044,1307.670044,0
2023-06-27,1303.420044,1307.489990,1297.109985,1300.030029,1300.030029,0

### pandas_datareader 라이브러리

In [8]:
import pandas_datareader as pdr

# 현재 시점의 원/달러 환율
df = pdr.get_data_fred("DEXKOUS")
fx_rate = df["DEXKOUS"][-1]

print("현재 원/달러 환율:", fx_rate)

현재 원/달러 환율: 1304.19